:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --bordaBaixaCabeçalho: #769FCD;
   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 
*{
    box-sizing: border-box;
}


body{
    margin: 0;
    background-color: var(--fundoPadrao);
}


.container-main {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 40px;
  position: relative;
  background: #fbfaff;
  border-radius: 8px;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.1);
}

#cadastro-form legend {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.5rem;
}
.form-section {
  border: 1px solid #ced4da;
  border-radius: 12px;
  padding: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-coluna {
  flex: 1 1 250px; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-grupo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label styling */
.form-section label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 0.9rem;
}




textarea {
  resize: vertical;
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
  color: #495057;
  font-size: 1em;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  padding: 10px;
}





::placeholder {
  color: #a0a0a0;
  opacity: 1; 
}

.botao-container{
    display: flex;
    justify-content: center ;
    gap: 15px;
}