:root{
  --azulCabecalho: #001E3E;
  --fontes: 'Poppins', 'Roboto', 'Montaga';
  --branco: white;
  --fundoPadrao: #EDEDED;
  --posicao: relative;
  --posicaoAbsoluta: absolute;
  --corFormulario: #E5E4E4;
  --corBotao: #004A90;
  --vermelho: red;
  --apontador: pointer;
  --bordaBaixaCabeçalho: #769FCD;
  --fontes: 'Poppins', 'Roboto', 'Montaga', sans-serif;
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 
*{
  box-sizing: border-box;
  font-family: var(--fontes);
}


body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

#cadastro-form legend {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.5rem;
}
.form-section {
  border: 1px solid #ced4da;
  border-radius: 12px;
  padding: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-coluna {
  flex: 1 1 250px; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-grupo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Label styling */
.form-section label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 0.9rem;
}




textarea {
  resize: vertical;
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
  color: #495057;
  font-size: 1em;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  padding: 1%;
}





::placeholder {
  color: #a0a0a0;
  opacity: 1; 
}

.botao-container{
    display: flex;
    justify-content: center ;
    gap: 15px;
}