:root{
    --branco: white;
    --brancoF1eeee: #f1eeee;
}


body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

a{
    text-decoration: none 
}

*{
    font-family: var(--fontes);
    box-sizing: border-box;
}

.quadradoBranco{
    background-color: var(--branco);
    width: 80%;
    margin: auto;
    position: relative; 
    margin-bottom: 30px;
    margin-top: 10%;
}

.h3{
   padding-top: 5%;
   padding-left: 5%;
}

.quadradoBranco .nomeUsuario{
    color: green;
}

.quadradoBranco .nomeUsuario2{
    color: red;
}

.searchInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 50px;
    background: var(--brancoF1eeee);
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid #ababab;
}

.searchInput input{
    background-color: var(--brancoF1eeee);
    border: 0px;
    padding-left: 10px;
    width: 95%;
    height: 40px;   
}

.searchBar::placeholder{
    font-size: 10px;
}

.searchBook h3{
    padding-left: 5%;
}

.usuarioCadastrado{
    display: grid; 
    grid-template-columns: repeat(4, 75px); 
    grid-template-rows: repeat(6, 75px);
    margin-top: 2%; 
    
}

#imagem{
    grid-column: 2;
    border-radius: 50%;    
}

#nome{
    grid-column: 2/5;
    grid-row: 2;
    display: flex;
    align-items: center;
}

#numero{
    grid-row: 3;
    grid-column: 2/5;
}

#perfil{
    grid-row: 4;
    grid-column: 2/5;
}

#email{
    grid-row: 5;
    grid-column: 2/5;
}

#telefone{
    grid-row: 6;
    grid-column: 2;
    display: flex;
    align-items: center;
}

.usuarioCadastrado img{
    width: 75px;
}

/* livro emprestados do usuario */
.livrosEmprestados{
    margin-top: 30px;
    background-color: #dfe2e5;;
    padding: 8px;
    height: 500px;
    border-radius: 5px;
    overflow-x: scroll;
}

.tabela-header {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    border-bottom: 3px #A5A5A5 solid;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
    align-items: center;
    justify-items: center;
    height: 85px;
}
.book-grid img{
    width: 50px;
}

.grid6{
    display: flex;
    gap: 10px;
}

/* botão de devolução e renovação */
#grid-button{
    background-color: #0585FF;
    border: none;
    border-radius: 5px;
    color: var(--branco);
    display: flex;
    align-items: center;
    padding: 4px;
}

#grid-button img{
    width: 20px;
}

#grid-button:hover{
    background-color: #0677e0;
}

/* @media(max-width:1124px){

    .quadradoBranco .usuarioCadastrado{

        flex-direction: column;
       
    }
} */

@media(min-width:414px){
   
    .usuarioCadastrado{
        grid-template-columns: repeat(4, 82px);
    }

    #imagem{
        width: 80px;
        height: 76px;
    }
}

@media(min-width:500px){
    .searchBar::placeholder{
        font-size: 12px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 97px);
    }

    #imagem{
        width: 97px;
    }
}

@media(min-width:600px){
    
    .searchBar::placeholder{
        font-size: 12px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 117px);
    }

    #imagem{
        width: 117px;
    }

    #nome, #numero, #perfil, #email, #telefone{
        font-size: 20px;
    }
}
    
@media(min-width:768px){
    
    .searchBar::placeholder{
        font-size: 20px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 150px);
    }

    #nome, #numero, #perfil, #email, #telefone{
        font-size: 25px;
    }

    #imagem{
        width: 150px;
    }

}

@media(min-width:912px){
    
    .searchBar::placeholder{
        font-size: 20px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 170px);
    }

    #nome, #numero, #perfil, #email, #telefone{
        font-size: 30px;
    }

    #imagem{
        width: 170px;
    }

}

@media(min-width:1124px){
    
    .searchBar::placeholder{
        font-size: 20px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 220px);
    }

    #nome, #numero, #perfil, #email, #telefone{
        font-size: 35px;
    }

    #imagem{
        width: 220px;
    }

}

@media(min-width:1358px){
    
    .searchBar::placeholder{
        font-size: 20px;
    }

    .usuarioCadastrado{
        grid-template-columns: repeat(4, 270px);
    }

    #nome, #numero, #perfil, #email, #telefone{
        font-size: 35px;
    }

    #imagem{
        width: 270px;
    }

}

@media(min-width: 1912px){
    .usuarioCadastrado{
        margin-left: 15%;
    }
}