:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --cinza: #D9D9D9;
    --bordaBaixaCabeçalho: #769FCD;
   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: var(--fontes);
    border-bottom: 5px solid var(--bordaBaixaCabeçalho);
   
}

.conteiner .menuAdm{
    display: flex;
    align-items: center;
   
}

.menuAdm .hamburguer{
    width: 100px;
    height: 50px;
    cursor: var(--apontador);
}

.conteiner .logoSenacHub{
    width: 150px;
    height: 100px;
}


body{
    font-family: var(--fontes);
    margin: 0;
    background-color: var(--fundoPadrao);

}

h3{
    color: var(--bordaBaixaCabeçalho);
}

.titulo{
  color: var(--branco);
  font-size: 10px;
   
}

.titulo .senac{
    position: var(--posicao);
    right: 20%;
}

/*Define o ícone com o cursor apontador*/ /*Define o ícone com o cursor apontador*/

.conteiner #iconeComandante{
    cursor: var(--apontador);
}

/*Define o ícone com o cursor apontador*/

/*Controla a div que aparece ao se clicar em ícone*/ /*Controla a div que aparece ao se clicar em ícone*/

.minhaConta{
    display: none;
    position: var(--posicaoAbsoluta);
    top: 17%; left: 91.5%;
    color: var(--branco);
    background-color: var(--azulCabecalho);
    width: 114px;
    cursor: var(--apontador);

}

.minhaConta a{

    text-decoration: none;
    color: var(--branco);
}
/*Controla a div que aparece ao se clicar em ícone*//*Controla a div que aparece ao se clicar em ícone*/

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner3{
    display: flex;
    justify-content: space-between;
   
}

.quadradoCinza{
    height: 500px;
    background-color: var(--cinza);
    padding-top: 5%;
    padding-left: 15%;
    margin-top: 5%;
}

.quadradoCinza .nome, .nomeSocial{
    width: 260px;
}

.quadradoCinza .input{
    padding: 3%;
    display: flex;
}

.quadradoCinza .botao{
    background-color: var(--corBotao);
    color: var(--branco);
    border-radius: 5px;
    height: 30px;
    cursor: var(--apontador);
}

.quadradoCinza .div{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.input img{
    height: 21px;
}

.opcional{
    display: flex;
    justify-content: end;
    padding-right: 7%;
    height: 11px;    
}

.opcional p{
    font-size: 13px;
    position: var(--posicao);
    bottom: 190%;
}

.quadradoCinza #nomeSocial1{
    padding-left: 10%;
}

.botao{
    background-color: var(--corBotao);
    border-radius: 20px;
    color: var(--branco);
    width: 154px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--fontes);
    font-size: 15px;
    cursor: var(--apontador);
}

/*Parte inferior do corpo*/

.inferior{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

.inferior img{
    width: 100px;
    height: 100px;
}

/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.rodape{
    background-color: var(--azulCabecalho);
    height: 240px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 10px;
    text-align: center;
   
}

/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 440px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    position: var(--posicaoAbsoluta);
    top: 20%;    
}

/*.menu a estará disponível para ser usado mais tarde para controlar as ligações entre telas. Será descomentado em tempo
oportuno. */

.menu a{
    text-decoration: none;
    color: var(--branco);
    display: flex;
}

/*Um pouco de responsividade*/ /*Um pouco de responsividade*/ /*Um pouco de responsividade*/

@media(max-width:1024px){
    
    .titulo,.Libro, .copyright,.todos, .logoSenacHub{
        display: none;
    }
    
}

@media(min-width: 375px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 17%; left: 69.5%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/ 

    /*Essa parte controla os comprimentos
    e alturas dos ícones azuis superiores*/
    .conteiner3 .esquerdo, .direito{
        width: 100px;
        height: 100px;
    }

    /*Inputs dentro do quadrado cinza*//*Inputs dentro do quadrado cinza*/

    .quadradoCinza{
        height: 1800px;
    }

    .quadradoCinza .nascimento{
        width: 260px;
        margin-left: 7%;
    }

    .quadradoCinza .cpf{
        width: 268px;
    }

    .fotoApresentacao{
        position: var(--posicaoAbsoluta);
        bottom: 22%;
    }

    .fotoPorAparecer{
        width: 55px;
        height: 200px;
    }

    .rg{
        display: flex;
        flex-direction: column;
    }

    .inputRg{
        width: 92%;
    }

    .contato{
        display: flex;
        flex-direction: column;  
    }

    .inputTelefone{
        width: 91%;
    }

    .inputCheckbox{
       margin-top: 1%;
    }

    .profissao{
        display: flex;
        flex-direction: column;
        width: 91%;
    }

} 

@media(min-width:414px){

 .quadradoCinza{
    height: 1860px;
 }  
    
 .opcional{
    padding-right: 15%;
 }

 .menu{
    position: var(--posicaoAbsoluta);
    top: 13%;
 }

 .minhaConta{
    position: var(--posicaoAbsoluta);
    top: 17%; left: 72.5%;
 }

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 42%;
 }

 .filiacao{
    display: flex;
    flex-direction: column;
    width: 91%;
 }

}

@media(min-width:500px){

 .opcional{
    padding-right: 27%;
 }

 .menu{
    position: var(--posicaoAbsoluta);
    top: 13%;
 }

 .minhaConta{
    position: var(--posicaoAbsoluta);
    top: 17%; left: 77.2%;
 }

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 40%; left: 2%;
 }

}

@media(min-width:600px){

 .opcional{
    padding-right: 38%;
 }

 .menu{
    position: var(--posicaoAbsoluta);
    top: 13%;
 }

 .minhaConta{
    position: var(--posicaoAbsoluta);
    top: 17%; left: 81%;
 }

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 40%; left: 2%;
 }

 .fotoPorAparecer{
    width: 73px;
 }

}

@media(min-width:768px){
 
 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

 .quadradoCinza{
    width: 60%;
    height: 2200px;
    margin-left: 13%;
    border: solid 1px;
 }

 .quadradoCinza input{
    height: 30px;
 }

 .quadradoCinza img{
    height:30px;
 }

 .opcional{
    margin-left: 10%;
    padding-right: 0%;
    width: 268px;
 }

 .quadradoCinza .div{
    padding-right: 20%;
 }

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 45%; left: 15%;
 }

 .fotoPorAparecer{
    width: 91px;
 }

 /*Rodapé*/ /*Rodapé*/ /*Rodapé*/ /*Rodapé*/  
    .rodape{
        font-size: 14px;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 13%; left: 85.2%;
    }

}

@media(min-width:820px){
 
/*Ipad Air*//*Ipad Air*//*Ipad Air*//*Ipad Air*//*Ipad Air*//*Ipad Air*/

 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

 .quadradoCinza{
    width: 60%;
    height: 2200px;
    margin-left: 13%;
    border: solid 1px;
 }

 .quadradoCinza input{
    height: 30px;
 }

 .quadradoCinza img{
    height:30px;
 }

 .opcional{
    margin-left: 10%;
    padding-right: 0%;
    width: 268px;
 }

 .quadradoCinza .div{
    padding-right: 20%;
 }

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 52%; left: 15%;
 }

 .fotoPorAparecer{
    width: 91px;
 }

 /*Rodapé*/ /*Rodapé*/ /*Rodapé*/ /*Rodapé*/  
    .rodape{
        font-size: 14px;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 13%; left: 85.8%;
    }

}

@media(min-width:912px){

 /*Surface Pro 7*//*Surface Pro 7*/  /*Surface Pro 7*/  /*Surface Pro 7*/  
 
 /*corpo*//*corpo*//*corpo*//*corpo*//*corpo*//*corpo*//*corpo*//*corpo*/

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: 57.3%; left: 15%;
 }

 .fotoPorAparecer{
    width: 109px;
 }

 /*Rodapé*/ /*Rodapé*/ /*Rodapé*/ /*Rodapé*/  
   
 .inferior{
       margin-top: 18.7%;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 11%;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 11%; left: 87.5%;
    }

}

@media(min-width: 1024px){

 /*IPad Pro*//*IPad Pro*//*IPad Pro*//*IPad Pro*//*IPad Pro*//*IPad Pro*/

    .conteiner .menuAdm{
        width: 304px;
    }

    .quadradoCinza .input{
        padding: 2%;
        padding-left: 5%;
    }

    .quadradoCinza .opcional{
        padding-right: 32%;
    }

    .quadradoCinza .div{
        padding-right: 40% ;
    }

    .fotoPorAparecer{
        width: 130px;
        height: 216px;
    }

    .fotoApresentacao{
        position: var(--posicaoAbsoluta);
        bottom: 56%; left: 15%;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 10%;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 10%; left: 88.7%;
    }

}

@media(min-width: 1124px){

 /*Respondendo da ferramenta de desenvolvimento 1124 x 1366*//*Respondendo da ferramenta de desenvolvimento 1124 x 1366*/

    .fotoPorAparecer{
        width: 148px;
        height: 216px;
    }

    .fotoApresentacao{
        position: var(--posicaoAbsoluta);
        bottom: 56%; left: 15%;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 10%;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 10%; left: 89.9%;
    }

}

@media(min-width: 1280px){

 /*Nest Hub Max*//*Nest Hub Max*//*Nest Hub Max*//*Nest Hub Max*//*Nest Hub Max*/
    
    .fotoApresentacao{
        position: var(--posicaoAbsoluta);
        bottom: 8.5%; left: 15%;
    }

    .fotoPorAparecer{
        width: 250px;
        height: 316px;
    }  

    .quadradoCinza .input{
        padding-left: 20%;
    }

    .quadradoCinza #nomeSocial1{
        padding-left: 24%;
    }

    .quadradoCinza .opcional{
        padding-right: 0%;
        margin-left: 24%;
    }

    .quadradoCinza .div{
        padding-left: 22%;
    }

    .rodape .siga-nos{
        display: block;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 16%;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 19%; left: 91.1%;
    }

    .titulo{
        position: var(--posicao);
        right: 10%;
    }

}

@media(min-width:1358px){

 /*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*/   

 .fotoApresentacao{
    position: var(--posicaoAbsoluta);
    bottom: -3%; left: 15%;
 } 
 
 .fotoPorAparecer{
    width: 350px;
    height: 316px;
}  

.conteiner3 .esquerdo, .direito{
    width: 150px;
    height: 150px;
}

.quadradoCinza .input{
    padding: 2%;
    padding-left: 25%; 
   
} 

.quadradoCinza #nomeSocial1{
    padding-left: 29%;
}

.quadradoCinza .opcional{
    padding-right: 28%;
}

.quadradoCinza .div{
    padding-left: 30%;
    position: var(--posicao);
    bottom: 5%;
}

.inferior img{
    width: 150px;
    height: 150px;
}

.menu{
    position: var(--posicaoAbsoluta);
    top: 18%;
}

.minhaConta{
    position: var(--posicaoAbsoluta);
    top: 19%; left: 91.6%;
}

}

@media(min-width: 1912px){

    .conteiner{
        height: 140px;
        align-items: center;
    }
 
 /*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*/
    
    #foto-container{
        padding-left: 2%;
    }

    .fotoApresentacao{
        position: var(--posicaoAbsoluta);
        bottom: 16.5%; left: 27%;
    }

    .fotoPorAparecer{
        height: 420px;
        width: 250px;
        /* display: block; */
    }
    
 /*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*/   
    .dadosDeRg{
        padding-left: 0.3%;
    }
    
    .rg, .filiacao, .contato, .profissao{
        border: 0.5px solid;
        width: 90%;
        padding-left: 2%;
        margin-left: 2%;
        margin-top: 2%;
        height: 205px;
    }

    
/*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*//*RG*/

 /*Filiação*//*Filiação*//*Filiação*//*Filiação*//*Filiação*//*Filiação*/

    .filiacao{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 302px;

    }

    .inputFiliacao{
        width: 95%;
    }

 /*Filiação*//*Filiação*//*Filiação*//*Filiação*//*Filiação*//*Filiação*/

 /*Contato*//*Contato*//*Contato*//*Contato*//*Contato*//*Contato*//*Contato*/

    .contato{
        height: 310px;
    }

    .telefone{
        padding-left: 5%;
    }
 /*Contato*//*Contato*//*Contato*//*Contato*//*Contato*//*Contato*//*Contato*/

 /*Profissão*//*Profissão*//*Profissão*//*Profissão*//*Profissão*//*Profissão*/
 .profissao{
    height: 150px;
 }

 .inputProfissao{
    width: 38%;
 }
 /*Profissão*//*Profissão*//*Profissão*//*Profissão*//*Profissão*//*Profissão*/
    
 /*Endereço*//*Endereço*//*Endereço*//*Endereço*//*Endereço*//*Endereço*/

 .endereco{
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(2, 60px);
    margin-top: 2%;
    margin-left: 2%;
    gap: 2%;
 }

 .enderecoComercial{
    grid-column: 2;
   
 }

 .textArea{
    grid-row: 2;
    grid-column: 1/2;
 }
 
 .textArea2{
    grid-row: 2;
    grid-column: 2;
 }
 /*Endereço*//*Endereço*//*Endereço*//*Endereço*//*Endereço*//*Endereço*/
    
 /*Botões salvar e cancelar*//*Botões salvar e cancelar*//*Botões salvar e cancelar*/
 .botoes{
    display: flex;
    gap: 1%;
    margin-left: 40%;
    margin-top: 5%;
 }
 /*Botões salvar e cancelar*//*Botões salvar e cancelar*//*Botões salvar e cancelar*/
    
    .quadradoCinza{
        width: 992px;
        height: 1820px;
        margin-top: 2%;
        padding: 0%;
        margin-left: 25%;
    }

   .quadradoCinza .input{
        padding: 3%;
        padding-left: calc(30%);
        width: 370px;
   }

   .quadradoCinza #nomeSocial1{
        padding-left: calc(33%);
        width: 500px;
   }

   .quadradoCinza .opcional{
        padding-right: 24%;
   }

   .quadradoCinza .div{
        padding-left: 24%;
        padding-top: 4%;
        width: 500px;
   }   

   .quadradoCinza .nome, .nomeSocial, .cpf, .nascimento{
        width: 310px;
   }

   .quadradoCinza #nascimento{
        padding-left: 32.7%;
   }

   .quadradoCinza #sexo{
        align-items: center;
        padding-left: 33%;
        width: 790px;
        gap: 0.5%;
   }
   
 /*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*//*Inputs*/  
   
 .menu{
        position: var(--posicaoAbsoluta);
        top: 13%;
    }

    .minhaConta{
        position: var(--posicaoAbsoluta);
        top: 13%; left: 94%;
    }

}
