:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --cinza: #D9D9D9;
    --bordaBaixaCabeçalho: #769FCD;
   
}
*{
    box-sizing: border-box;
}
/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 


.container-main{
    width: 80%;
    padding: 40px;
    position: relative;
    margin: auto;
    background: #fbfaff;;
    padding: 20px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0px 7px 8px rgba(0,0,0,0.1);
}
#cadastro-form legend{
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0.5rem;
}
.form-section{
    border: 1px solid #ced4da;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1 1 45%; /* Permite duas colunas em telas maiores */
    margin-bottom: 1rem;
}


#foto-perfil-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

}

#foto-perfil{
    width: 15%;
}