:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --corInput: #f1eeee;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --apontador: pointer;  
    --bordaBaixaCabeçalho: #769FCD; 
    
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 
*{
    box-sizing: border-box;
}



body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner2{
    display: flex;
    justify-content: space-between;
   
}

.conteiner2 .esquerdo, .conteiner2 .direito{
    width: 100px;
    height: 100px;
}

/*Parte do input*//*Parte do input*//*Parte do input*//*Parte do input*/
.controle{
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
}

.busca{
    background-color: var(--branco);
    width: 100%;
    border-radius: 23px;
    height: 30px;
    border: 1px solid #eee;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/*Parte do input*//*Parte do input*//*Parte do input*//*Parte do input*/

.botao{
    border: none;
    cursor: var(--apontador);
}

#livros-por-aparecer{
    font-size: 20px;
    text-align: center;
    margin-top: 2%;
}

/* cardizinho dos livros */
#livro-titulomaster{
    text-align: center;
}

.livro-container{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 200px;
    display: flex;
    padding: 20px;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}

#livro-img{
    width:10%;
    height: 170px;
}
#livro-titulo{
    height: fit-content;
    margin: 0;
    font-size: large;
    margin-bottom: 10px;
}
.livro-informacoes{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 9%;
}
#livro-exemplares{
    margin-top: 40px;
    background-color: #EDEDEE;
    padding: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 5px;
    align-items: center ;
}

@media(max-width:1024px){
    
    .titulo, .Libro, .todos, .copyright{
        display: none;
    }

}

@media(min-width:414px){

    .controle{
        margin-top: 5%;
    }

    .inferior{
        margin-top: 43.8%;
    }
  
}

@media(min-width: 820px){
    
    .inferior{
        margin-top: 51.8%;
    }
}

@media (min-width:912px){
   
 .inferior{
    margin-top: 71%;
 }

}

@media (min-width: 1024px) {

    .inferior{
        margin-top: 57.7%;
    }
}

@media(min-width:1912px){
   
    .logoSenacHub{
        width: 250px;
        height: 120px;
    }

}
