:root{

    --azulCabecalho: #001E3E;
    --corParaOverlays: #d9d9d9;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --azulQuadrado: hwb(210 0% 62% / 0.5);
    --tamanhoFonte: 10px;
    --apontador:pointer;
    --bordaBaixaCabeçalho: #769FCD;   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 
*{
    box-sizing: border-box;
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

.conteiner3{    
    display: flex;
    justify-content: space-between;
}

.conteiner3 .esquerdo, .direito{
    width: 100px;
    height: 100px;
}

body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

h2{
    color: var(--branco);
    margin: 2px;
    
}

.senac{
   position: var(--posicao);
   right: 60px;
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner2{
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    position: var(--posicao);
    top: 20px;
    font-family: var(--fontes);
    margin-left: 20px;
    cursor: pointer;
    
}

.caixa{
    height: 210.1px;
    width: 206.96px;
    color: black;
    border-radius: 5%;
   
}

.adm{
    font-size: 24px;
    font-weight: bold;
    position: var(--posicao);
    top: 20px; left: 50px;
    font-family: var(--fontes);
    width: 95%;
    
} 

@media(max-width:1024px){

    .logoSenacHub{
        display: none;
    }
}

@media(min-width:375px){

 /*Iphone SE*//*Iphone SE*//*Iphone SE*//*Iphone SE*//*Iphone SE*//*Iphone SE*/

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner2{
        flex-wrap: wrap;
        width: 340px;
        gap: 5px;
    }

    .conteiner2 .emprestimo, .usuario, .estoque, .vectorRenova, .cadastrarLivro, .cadastrarUsuarios, .relatorios{
        width: 80px;
        height: 105px;
    }
    
    .adm{
        width: 300px;
    }

    /* .Libro, .copyright, .todos, .logo, .titulo {
         display: none;
    } */

    .inferior{
        margin-top: 3%;
     }

}

@media(min-width:414px){

 /*Iphone XR*//*Iphone XR*//*Iphone XR*//*Iphone XR*//*Iphone XR*//*Iphone XR*/   

    .adm{
        margin-top: 15%;
    }    
    
    .conteiner2{
        margin-left: 11%;
    }

    .inferior{
        margin-top: 40%;
    }

}

@media(min-width:500px){

 /*500 x 896*//*500 x 896*//*500 x 896*//*500 x 896*//*500 x 896*//*500 x 896*/

    .adm{
        margin-left: 6%;
    }  
    
    .conteiner2{
        margin-left: 15%;
    }

    .inferior{
        margin-top: 30%;
    }

}

@media(min-width:600px){

 /*600 x 896*//*600 x 896*//*600 x 896*//*600 x 896*//*600 x 896*//*600 x 896*/   

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/

    .adm{
        margin-left: 13%;
    }

    .conteiner2{
        margin-left: 20%;
    }

    .inferior{
        margin-top: 22%;
    }

}

@media(min-width:768px){

 /*ipad mini*//*ipad mini*//*ipad mini*//*ipad mini*//*ipad mini*//*ipad mini*/   

   /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/

    .adm{
        margin-top: 30%;
        margin-left: 0%;
    }

    .conteiner2{
        margin-left: 5%;
        width: 700px;
    }

    .caixa{
        height: 110px;
    }

    .inferior{
       margin-top: 28%;
    }

}

@media(min-width:820px){

 /*ipad air*//*ipad air*//*ipad air*//*ipad air*//*ipad air*//*ipad air*/   

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/

    .cadastrarLivro, .cadastrarUsuarios, .relatorios, .conteiner2 .emprestimo, .usuario, .estoque{
        width: 95px;
        height: 120px;
    }

    .caixa{
        width: auto;
        height: auto;
    }

    .inferior{
        margin-top: 42%;
    }
    
}

@media(min-width:912px){

 /*Surface Pro 7*//*Surface Pro 7*//*Surface Pro 7*//*Surface Pro 7*/   

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/

    .adm{
        margin-left: 1%;
        margin-top: 40%;
    }

    .conteiner2{
        width: 800px;
    }

    .cadastrarLivro, .cadastrarUsuarios, .relatorios, .conteiner2 .emprestimo, .usuario, .estoque{
        width: 105px;
        height: 130px;
    }

    .inferior{
       margin-top: 43%;
    }


}

@media(min-width:1024px){

 /*ipad pro*//*ipad pro*//*ipad pro*//*ipad pro*//*ipad pro*//*ipad pro*/   

 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

    .adm{
        margin-top: 5%;
    }

    .inferior{
       margin-top: 2%;
    }

}

@media(min-width:1124px){

 /*1124 x 1366*//*1124 x 1366*//*1124 x 1366*//*1124 x 1366*//*1124 x 1366*/   

 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

    .adm{
        margin-left: 2%;
    }

}

@media(min-width: 1280px){

 /*nest hub max*//*nest hub max*//*nest hub max*//*nest hub max*//*nest hub max*/   

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .adm{
        margin-left: 3%;
    }

    .conteiner2{
        width: 1150px;
    }

    .conteiner2 .cadastrarLivro, .cadastrarUsuarios, .relatorios, .conteiner2 .emprestimo,
    .usuario, .estoque{
        width: 150px;
        height: 140px;
    }

    .conteiner2 .caixa{
        width: auto;
        height: auto;
    }

    /*Fim da página*/ /*Fim da página*/ /*Fim da página*/ /*Fim da página*/
    
    .inferior{
       margin-top: 7.5%;
    }

}

@media(min-width: 1358px){

 /*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*//*1358 x 768*/

    /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .adm{
        margin-left: 3%;
    }

    .inferior{
        margin-top: 3.5%;

    }

}

@media(min-width:1912px){

 /*1912 x 1080*//*1912 x 1080*//*1912 x 1080*//*1912 x 1080*//*1912 x 1080*/   
    
    .adm{
        margin-left: 5%;
        margin-top: 4%;
    }

    .conteiner2{
        margin-left: 5%;
        width: 1800px;
        height: 300px;
    }

    .conteiner2 .cadastrarLivro, .cadastrarUsuarios, .relatorios, 
    .conteiner2 .emprestimo, .usuario, .estoque{
        width: 207px;
        height: 210px;
    }

    .inferior{
        margin-top: 0%;
    }

}
