:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --apontador: pointer;   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-family: var(--fontes);
   
}

.conteiner .menuAdm{
    display: flex;
    align-items: center;
}

.menuAdm .hamburguer{
    width: 100px;
    height: 50px;
    cursor: var(--apontador);
}

body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

.titulo{
  color: var(--branco);
  font-size: 10px;
   
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner2{
    display: flex;
    justify-content: space-between;
   
}

.conteiner2 .esquerdo, .conteiner2 .direito{
    width: 100px;
    height: 100px;
}

/*Parte inferior do corpo*/

.inferior{
    display: flex;
    justify-content: end;
    /* margin-top: 25%;   */
}

.inferior img{
    width: 100px;
    height: 100px;
}

/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.rodape{
    background-color: var(--azulCabecalho);
    height: 159px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 10px;
    text-align: center;
}

.rodape .Logo{
    height: 50px;
    width: 100px;
}

.rodape .Libro{
    height: 100px;
    width: 200px;
}

/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 500px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    position: var(--posicaoAbsoluta);
    top: 13%;
}

/*.menu a estará disponível para ser usado mais tarde para controlar as ligações entre telas. Será descomentado em tempo
oportuno. "menu a" se refere a parte das ligações com a 
tag "a". Esse seletor vai retirar a linha típica de link
"a", vai definir a cor da fonte do link como branca e vai 
definir a exibição como ao lado*/

/* .menu a{
    text-decoration: none;
    color: var(--branco);
    display: flex;
} */
