body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30%;
}
.form-container {
    max-width: 400px;
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #004080;
    color: white;
    cursor: pointer;
    border: none;
}
button:hover {
    background-color: #003366;
}
footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 30%;
    margin-top: 20%;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }
}
