* {
    margin: 0;
    padding: 0;

}

:root {
    --azul-padrao: #001E3E;
    --cor-texto: #FFFFFF;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: var(--azul-padrao);
    width: 100%;
    height: 120px;
    font-family: 'Poppins', serif;
    color: var(--cor-texto);
}


.logo-senac img {
    width: 200px;
    height: 60px;
    padding-left: 118px;
    margin-right: 100px;
}

.textos {
    padding: 15px;
    font-size: 12px;
    gap: 50px;
    display: flex;
}

.redes {
    display: flex;
    flex-direction: column;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: auto;
}

.social-icons img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.logo-senac2 img {
    width: 50px;
    height: 50px;
}