
:root {

    --fontes: 'Poppins', 'Roboto', 'Montaga';   /*Fontes usadas no projeto */
}


body{
    /* padding-top: 100px; */
    font-family: var(--fontes);
}

/* Estilo do cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #001e3e;
    color: white;
    /*position: fixed;   Fixa o cabeçalho no topo */
    top: 0;           /* Fixa no topo da página */
    left: 0;          /* Garante que vai colar à esquerda */
    width: 100%;   
    height: 115px;   /* O cabeçalho vai ter a largura total da tela */
    z-index: 1000;
    border-bottom: #769FCD 5px solid;    /* Garante que o cabeçalho fique sobre outros elementos */
}

/* Ícone do menu */
.menu-icon {
    cursor: pointer;
    width: 5%;
    height: 70%;
}

.menu-icon img {
   
    width: 90%;
    height: 100%
}

/* Navbar oculta por padrão */
nav {
    display: none;
    position: absolute;
    top: 80px;
    left: 10px;
    background: #001E3E;
    padding: 10px;
    border-radius: 5px;
}


/* Lista de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Exibir menu quando ativado */
nav.show {
    display: block;
}

#nav-menu-perfil {
    display: none;
    position: absolute;
    top: 80px;
    right: 10px;
    background: #001E3E;
    padding: 10px;
    border-radius: 5px;
}

#nav-menu-perfil li{
    list-style-type: none;
    padding: 10px;
}

#nav-menu-perfil.show {
    display: block;
}

nav ul li a,
#nav-menu-perfil ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:visited,
#nav-menu-perfil ul li a:visited {
    color: white;
}


/* Centraliza o título no cabeçalho */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-200%);
    margin: 0 auto;  /* Garante a centralização do título */
}

.titulo h2 {
    margin: 0;
    padding: 0;
}

.titulo h2:first-child {
    margin-bottom: 5px;  /* Ajuste o valor conforme necessário para aumentar a distância */
}


.iconepessoa{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fdfdfd; /* Cor do texto, ajuste conforme necessário */
    margin-top: 5px; /* Espaçamento entre a imagem e o texto */
}

.iconepessoa p {
    margin: 5px 0 0; /* Espaço entre a imagem e o texto */
    font-weight: bold;
}

.iconesSuperiores {
    display: flex;
    justify-content: space-between;
    /* margin-top: 15%; */
    /* align-items: center; */
    /* width: 100vw; Ocupa 100% da tela */
    /* height: 100px; */
    /* box-sizing: border-box; */
    /*padding: 0;  Sem padding, totalmente colado nas bordas */
}

.iconesSuperiores img {
    height: 100%; /* Preenche altura da div */
    max-width: 100px; /* Limita o tamanho para não estourar */
    object-fit: contain; /* Mantém a proporção */
}

#icone_top{
    height: 0%;   
}

.iconeSenac img{
    width: 17%;
}

/* RESPONSIVIDADE */

@media (max-width: 480px) {
    
    .header{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .titulo{
        display: none;
    }
   
}