:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --azulQuadrado: hwb(210 0% 62% / 0.5);
    --tamanhoFonte: 10px;

   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-family: var(--fontes);
   
}

.icone{

    display: flex;
    align-items: center;
    padding-right: 30px;
   
}


.conteiner3, .conteiner4, .conteiner5{
    width: 206px;
    height: 50px;
    display: flex;
    gap: 5px;
}

.quadrado{
    background-color: var(--azulQuadrado);
    width: 64px;
    height: 44px;
}

.quadrado1, .quadrado2{
    background-color: var(--azulQuadrado);
    width: 64px;
    height: 44px;
}

.quadrado2{
    position: var(--posicao);
    left: 70px;
}

body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

.hamburguer{
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
/* .hamburguer define as características do botão. cursor: pointer indica que um objeto é clicável ao mudar o cursor, 
background: none retira a cor do botão que contêm as quatro linhas horizontais e border: none retira a borda do botão.
Esses dois últimos fazem o botão desaparecer completamente. */
}

.barra{
    display: block;
    width: 60px;
    height: 3px;
    margin-left: 25px;
    background-color: var(--branco);
   
}

h2{
    color: var(--branco);
    margin: 2px;
    
}


.senac{
   position: var(--posicao);
   right: 60px;
}

.titulo{
  padding-top: 25px;
  position: var(--posicao);
  right: 200px; 
   
}

.logo{
            
    position: var(--posicao);
    right: 20%; top: 30px; 
   
}  

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner2{
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    position: var(--posicao);
    top: 20px;
    font-family: var(--fontes);
    margin-left: 20px;
    cursor: pointer;
    
}

.caixa{
    height: 210.1px;
    width: 206.96px;
    background-color: var(--branco);
    color: black;
    border-radius: 5%;
   
}

.caixa p{
    font-size: 24px;
   
}

.caixa .usuario{

    width: 109.75px;
    height: 109.75px;
    position: var(--posicao);
    left: 50px;
    margin-top: 30px;
}

.caixa .Usuario{
    
    text-align: center;
    position: var(--posicao);
    bottom: 15%;
}

.caixa .Livro{
    width: 80.43px;
    height: 107.24;
    position: var(--posicao);
    left: 54px; top: 20px;
}

.caixa .adicao{
    width: 60.32px;
    height: 60.32px;
    position: var(--posicao);
    left: 10px; bottom: -25px;
}

.caixa .cadastro{
    text-align: center;
    
}

.caixa .user{
   
    position: var(--posicao);
    left: 45px; top: 20px;

}

.sinalDeAdicao{
    position: var(--posicao);
    top: 27px; left: 10px;
}

.cadastroDeUsuario{
    text-align: center;
    position: var(--posicao);
    bottom: 15px;
}

.caixa .estoque{
   
    position: var(--posicao);
    top: 15%; left: 13%;
}

.caixa .vectorRelatorio{
    position: var(--posicao);
    top: 15%; left: 20%;
}

.caixa .relatorios{
    position: var(--posicao);
    left: 18%; top: 5%;
}

.caixa .vectorRenova{
    position: var(--posicao);
    left: 20%; top: 15%;
}

.caixa .renovacoes{
    text-align: center;
}

.caixa .emprestimo{
    position: var(--posicao);
    left: 23%; top: 13%;
}

.caixa .Emprestimo{
    text-align: center;
}

.adm{
    font-size: 24px;
    font-weight: bold;
    position: var(--posicao);
    top: 20px; left: 50px;
    font-family: var(--fontes);
    width: 95%;
    
} 

.conteiner6{
    display: grid;
    grid-template-columns: repeat(2,71px);
    grid-template-rows: repeat(3, 50px);
    position: var(--posicaoAbsoluta);
    left: 92.9%; top: 143px;
    width: 135px;
}

.qua,.qua2,.qua3,.qua4{

    background-color: var(--azulQuadrado);
    width: 64px;
    height: 44px;
}

.qua3{

    grid-column: 1;
    grid-row: 3;
}

.qua4{
    grid-column: 2;
    grid-row: 2;
}


.inferiorDireito{
    display: grid;
    grid-template-columns: repeat(3,65px);
    grid-template-rows: repeat(3, 45px);
    gap: 3px;
    position: var(--posicaoAbsoluta);
    top: 640px; left: 89.48%;
    
}

.Quadrado,.Quadrado2,.Quadrado3,.Quadrado4,.Quadrado5,.Quadrado6,.Quadrado7{

    background-color: var(--azulQuadrado);
    width: 63px;
    height: 44px;
}

.Quadrado{
    grid-column: 1;
    grid-row: 3;
}

.Quadrado2{

    grid-column: 2;
    grid-row: 3;
}

.Quadrado3{
    grid-row: 3;
    grid-column: 3;
}

.Quadrado4{

    grid-column: 2;
    grid-row: 2;
}

.Quadrado5{
    grid-column:3 ;
    grid-row: 2;
}


.Quadrado7{
    grid-column:3;
    grid-row: 1;
}


/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.logoFecomercio{
    align-items: center;
    display: flex;
}

.rodape{
    background-color: var(--azulCabecalho);
    height: 189px;
    width: 100%;
    position: var(--posicaoAbsoluta);
    top: 775px;
    display: flex;
    justify-content: space-evenly;
   
}

.copyright{
    position: var(--posicao);
    left: 35%; bottom: 32%;
    color: var(--branco);
    font-size: 15px;
    font-family: var(--fontes);
}

.todos{
    position: var(--posicao);
    left: 28%; bottom: 32%;
    color: var(--branco);
    font-size: 15px;
    font-family: var(--fontes);
}

.faleConosco{
    width: 126px;
    height: 102px;
    color: var(--branco);
    font-family: var(--fontes);
    align-items: center;
    margin-top: 15px;
   
}

.email{
    color: var(--branco);
    font-family: var(--fontes);
    align-items: center;
    margin-top: 15px;
}

.siga-nos{
    color: var(--branco);
    font-family: var(--fontes);
    align-items: center;
    margin-top: 12px;
}


/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 500px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    
}

/*Um pouco de responsividade*/ /*Um pouco de responsividade*/ /*Um pouco de responsividade*/

@media(min-width:365px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        font-size: 12px;
        position: var(--posicao);
        left: 6%; 
        padding-top: 5%;
    }

    .logo{
        position: var(--posicao);
        left: -5%;
    }

    .icone{
        position: var(--posicao);
        right: 3%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner2{
        flex-wrap: wrap;
        width: 340px;
        gap: 5px;
    }

    .conteiner3 .quadrado{
        width: 40px;
    }

    .conteiner4 .quadrado{
       width: 40px;
    }
    
    .conteiner5 .quadrado1, .conteiner5 .quadrado2{
       width: 40px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 63%;
        width: 130px;
    }

    .conteiner6 .qua, .conteiner6 .qua2, .conteiner6 .qua3, .conteiner6 .qua4{
        width: 60px;
    }

    .caixa{
        width: 80px;
        height: 105px;
    }
  
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 45%; bottom: 100%;
    }
    
    .adm{
        width: 300px;
    }


    /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 47%; top: 38%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
     .conteiner2 .cadastroDeUsuario,
     .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
     .conteiner2 .Estoque, .conteiner2 .renovacoes{
 
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 15%;
     }
 
     .conteiner2 .usuario{
         position: var(--posicao);
         bottom: 15%; left: 30%;
     }
 
     .conteiner2 .Usuario{
         position: var(--posicao);
         top: -16%;
     }
 
     .conteiner2 .cadastro{
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 28%;
     }
 
     .conteiner2 .relatorios{
        position: var(--posicao);
        left: 25%;
     }
 
     .conteiner2 .Estoque{
         text-align: center;
     }
 
     .Libro, .copyright, .todos, .logo,.faleConosco, .titulo, .siga-nos {
         display: none;
     }

     .Logo{
        width: 100px;
     }

}

@media(min-width:465px){

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 71%;
    }

    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 56.5%;
    }

}

@media(min-width:565px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        font-size: 12px;
        position: var(--posicao);
        left: 6%; 
        padding-top: 5%;
    }

    .logo{
        position: var(--posicao);
        left: -5%;
    }

    .icone{
        position: var(--posicao);
        right: 3%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner3 .quadrado{
        width: 40px;
    }

    .conteiner4 .quadrado{
       width: 40px;
    }
    
    .conteiner5 .quadrado1, .conteiner5 .quadrado2{
       width: 40px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 76.5%;
        width: 130px;
    }

    .conteiner6 .qua, .conteiner6 .qua2, .conteiner6 .qua3, .conteiner6 .qua4{
        width: 60px;
    }

    .caixa{
        width: 70px;
        height: 105px;
    }
  
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 64%; bottom: 100%;
    }
    
    .adm{
        width: 500px;
    }


    /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 62%; top: 38%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
     .conteiner2 .cadastroDeUsuario,
     .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
     .conteiner2 .Estoque, .conteiner2 .renovacoes{
 
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 15%;
     }
 
     .conteiner2 .usuario{
         position: var(--posicao);
         bottom: 15%; left: 30%;
     }
 
     .conteiner2 .Usuario{
         position: var(--posicao);
         top: -16%;
     }
 
     .conteiner2 .cadastro{
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 28%;
     }
 
     .conteiner2 .relatorios{
        position: var(--posicao);
        left: 25%;
     }
 
     .conteiner2 .Estoque{
         text-align: center;
     }
 
     .Libro, .copyright, .todos, .logo,.faleConosco {
         display: none;
     }

     .Logo{
        width: 100px;
     }

}


@media(min-width:665px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        font-size: 12px;
        position: var(--posicao);
        left: 6%; 
        padding-top: 5%;
    }

    .logo{
        position: var(--posicao);
        left: -5%;
    }

    .icone{
        position: var(--posicao);
        right: 3%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner3 .quadrado{
        width: 40px;
    }

    .conteiner4 .quadrado{
       width: 40px;
    }
    
    .conteiner5 .quadrado1, .conteiner5 .quadrado2{
       width: 40px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 80%;
        width: 130px;
    }

    .conteiner6 .qua, .conteiner6 .qua2, .conteiner6 .qua3, .conteiner6 .qua4{
        width: 60px;
    }

    .caixa{
        width: 89px;
        height: 105px;
    }
  
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 69.7%; bottom: 100%;
    }
    
    .adm{
        width: 600px;
    }


    /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 58%; top: 38%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
     .conteiner2 .cadastroDeUsuario,
     .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
     .conteiner2 .Estoque, .conteiner2 .renovacoes{
 
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 15%;
     }
 
     .conteiner2 .usuario{
         position: var(--posicao);
         bottom: 15%; left: 30%;
     }
 
     .conteiner2 .Usuario{
         position: var(--posicao);
         top: -16%;
     }
 
     .conteiner2 .cadastro{
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 28%;
     }
 
     .conteiner2 .relatorios{
        position: var(--posicao);
        left: 25%;
     }
 
     .conteiner2 .Estoque{
         text-align: center;
     }
 
     .Libro, .copyright, .todos, .logo{
         display: none;
     }

     .Logo{
        width: 100px;
     }

}


@media(min-width:766px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        font-size: 12px;
        position: var(--posicao);
        left: -2%; 
        padding-top: 5%;
    }

    .logo{
        position: var(--posicao);
        left: -5%;
    }

    .icone{
        position: var(--posicao);
        right: 3%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner3 .quadrado{
        width: 40px;
    }

    .conteiner4 .quadrado{
       width: 40px;
    }
    
    .conteiner5 .quadrado1, .conteiner5 .quadrado2{
       width: 40px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 82.5%;
    }

    .conteiner6 .qua, .conteiner6 .qua2, .conteiner6 .qua3, .conteiner6 .qua4{
        width: 60px;
    }

    .caixa{
        width: 100px;
        height: 100px;
    }
  
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 73.7%; bottom: 100%;
    }
    
    .adm{
        width: 700px;
    }


    /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 52%; top: 40%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
     .conteiner2 .cadastroDeUsuario,
     .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
     .conteiner2 .Estoque, .conteiner2 .renovacoes{
 
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 15%;
     }
 
     .conteiner2 .usuario{
         position: var(--posicao);
         bottom: 15%; left: 30%;
     }
 
     .conteiner2 .Usuario{
         position: var(--posicao);
         top: -16%;
     }
 
     .conteiner2 .cadastro{
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 28%;
     }
 
     .conteiner2 .relatorios{
        position: var(--posicao);
        left: 25%;
     }
 
     .conteiner2 .Estoque{
         text-align: center;
     }
 
     .Libro, .copyright, .todos{
         display: none;
     }

     .Logo{
        width: 200px;
     }

}

@media(min-width:866px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        font-size: 12px;
        position: var(--posicao);
        left: -8%; 
        padding-top: 5%;
    }

    .logo{
        position: var(--posicao);
        left: -9%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 84.3%;
    }

    .caixa{
        width: 100px;
        height: 100px;
    }
  
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 76.8%; bottom: 100%;
    }
    
    .adm{
        width: 800px;
    }


    /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/  /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 52%; top: 40%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
     .conteiner2 .cadastroDeUsuario,
     .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
     .conteiner2 .Estoque, .conteiner2 .renovacoes{
 
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 15%;
     }
 
     .conteiner2 .usuario{
         position: var(--posicao);
         bottom: 15%; left: 30%;
     }
 
     .conteiner2 .Usuario{
         position: var(--posicao);
         top: -16%;
     }
 
     .conteiner2 .cadastro{
         font-size: var(--tamanhoFonte);
         position: var(--posicao);
         top: 28%;
     }
 
     .conteiner2 .relatorios{
        position: var(--posicao);
        left: 25%;
     }
 
     .conteiner2 .Estoque{
         text-align: center;
     }
 
     .Libro, .copyright, .todos{
         display: none;
     }



}

@media(min-width:966px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .titulo{
        position: var(--posicao);
        right: 5%;
        font-size: 13px;
    }

    .logo{
        position: var(--posicao);
        right: 10%;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 85.6%; top: 22%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/

    .caixa{
        width: 100px;
        height: 100px;
    }

    .adm{
        font-size: 12px;
        width: 900px;
    }

    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 79%; bottom: 100%;
    }

    /*Ícones*/ /*Ícones*/ /*Ícones*/ /*Ícones*/ /*Ícones*/ /*Ícones*/ /*Ícones*/

    .conteiner2 .Livro, .conteiner2 .user, .conteiner2 .vectorRelatorio,
    .conteiner2 .emprestimo, .conteiner2 .usuario, .conteiner2 .estoque, 
    .conteiner2 .vectorRenova{
        
        width: 40px;
        height: 40px;
        /*Esse código define todos os ícones que ele pega com alturas e 
        comprimentos em 40px*/
    }

    .conteiner2 .adicao{
        width: 25px;
        height: 25px;
        position: var(--posicao);
        left: 50%; top: 40%;
    }

    .conteiner2 .Livro{
        position: var(--posicaoAbsoluta);
        left: 5%;
        /*Posição do ícone "Livro" ajustada*/
    }

    .conteiner2 .user{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .vectorRelatorio{
        position: var(--posicao);
        left: 30%;
    }

    .conteiner2 .emprestimo{
        position: var(--posicao);
        top: 15%; left: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 30%;
    }

    /*Fontes dentro das caixas que contêm os Ícones*/
   
    .conteiner2 .cadastroDeUsuario,
    .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Usuario,
    .conteiner2 .Estoque, .conteiner2 .renovacoes{

        font-size: var(--tamanhoFonte);
        position: var(--posicao);
        top: 15%;
    }

    .conteiner2 .usuario{
        position: var(--posicao);
        bottom: 15%; left: 30%;
    }

    .conteiner2 .Usuario{
        position: var(--posicao);
        top: -16%;
    }

    .conteiner2 .cadastro{
        font-size: var(--tamanhoFonte);
        position: var(--posicao);
        top: 28%;
    }

    .conteiner2 .relatorios{
       position: var(--posicao);
       left: 25%;
    }

    .conteiner2 .Estoque{
        text-align: center;
    }

}


@media(min-width:1066px){

    .logo{
        position: var(--posicao);
        right: 11%;
    }

    .titulo{
       position: var(--posicao);
       left: -8%;
    }

    .icone{
        position: var(--posicao);
        right: 7%;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 87.3%; top: 22%;
    }

    .adm{
        width: 500px;
    }

    .conteiner2 .caixa{
        width: 100px;
        height: 105px;
    }

    .conteiner2 .Livro{
        width: 40px;
        position: var(--posicaoAbsoluta);
        left: 5%;
    }

    .conteiner2 .adicao{
        width: 30px;
        height: 30px;
        position: var(--posicaoAbsoluta);
        left: 7%; bottom: 30%;
    }

    .conteiner2 .cadastro{
        font-size: var(--tamanhoFonte);
        position: var(--posicao);
        top: 60%;
    }

    .conteiner2 .user{
        width: 50px;
        height: 50px;
        position: var(--posicao);
        left: 25%;
    }

    .conteiner2 .cadastroDeUsuario{
        font-size: var(--tamanhoFonte);
        position: var(--posicao);
        top: 5%;
    }

    .conteiner2 .vectorRelatorio, .emprestimo, .conteiner2 .usuario, .estoque, .vectorRenova{
        width: 50px;
        height: 50px;
    }

    .conteiner2 .relatorios, .conteiner2 .Emprestimo, .conteiner2 .Estoque, .conteiner2 .renovacoes, .conteiner2 .Usuario{
        font-size: var(--tamanhoFonte);
    }

    .conteiner2 .usuario{
        position: var(--posicao);
        left: 25%; bottom: 15%;
    }

    .conteiner2 .Usuario{
        position: var(--posicao);
        bottom: 30%;
    }

    .conteiner2 .estoque{
        position: var(--posicao);
        left: 20%;
    }

    .conteiner2 .Estoque{
        text-align: center;
    }

    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 81%; top: 96.8%;
    }

}

@media(min-width: 1166px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/
    
    .conteiner{
        height: 125px;
    }

    .logo{
        position: var(--posicao);
        right: 13%;
        height: 90px;
    }

    .titulo{
       position: var(--posicao);
       left: -8%;
    }

    .icone{
        position: var(--posicao);
        right: 1%;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/
    
    .conteiner2{
        width: 1090px;
    }

    .conteiner3 .quadrado, .conteiner4 .quadrado{
        width: 32px;
        height: 25px;
    }
    
    .conteiner3{
        height: 30px;
    }
    
    .conteiner4,.conteiner5{
        height: 30px;
        width:133px
    }
    
    .conteiner5 .quadrado1{
        width: 32px;
        height: 25px;
        
    }

    .conteiner5 .quadrado2{
        width: 32px;
        height: 25px;
        position: var(--posicaoAbsoluta);
        right: 15px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 93.98%; top: 20%;
        width: 70px;
        grid-template-columns: repeat(2,36px);
        grid-template-rows: repeat(3, 25px);

    }

    .conteiner6 .qua,.conteiner6 .qua2,.conteiner6 .qua3,.conteiner6 .qua4{
        width: 31px;
        height: 22px;
    }


    .adm{
        font-size: 12px;
        width: 1000px;
    }
    
    .caixa{
        width: 120px;
        height: 138px; 
    }

    .caixa p{
        font-size: 15px;
       
    }

    .caixa .user{
       
        position: var(--posicao);
        left: 20%; top: 7%;
        width:73px;

    }

    .caixa .usuario{
        position: var(--posicao);
        left: 20%;
    }

    .caixa .estoque{
        position: var(--posicao);
        left: 15%;
        width: 80px;
        height: 72px;
    }

    .caixa .Estoque{
        text-align: center;
    }

    .caixa .Livro{
        width: 40px;
        height: 53px;
        position: var(--posicao);
        left: 40px;
    }

    .caixa .adicao{
        width: 30px;
        height: 27px;
        position: var(--posicao);
        left: 13%; top: 20px;
    }

    .caixa .vectorRelatorio{
        width: 64px;
        position: var(--posicao);
        left: 30px;
       
    }

    .caixa .emprestimo{
        height: 60px;
        position: var(--posicao);
        left: 30px;
    }

    .caixa .usuario{
        width: 55px;
        height: 55px;
        position: var(--posicao);
        left: 30px;
    }

    .vectorRenova{
        width: 64px;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 115px;
    }

    /*Fim da página*/ /*Fim da página*/ /*Fim da página*/ /*Fim da página*/
    
    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        top: 70.3%; left: 91%;
        grid-template-columns: repeat(3,33px);
        grid-template-rows: repeat(3, 23px);

    }

    .inferiorDireito .Quadrado, .inferiorDireito .Quadrado2{
        width: 32px;
        height: 22px;
    }
    
    .inferiorDireito .Quadrado3, .inferiorDireito .Quadrado4{
        width: 32px;
        height: 22px;
    }
    
    .inferiorDireito .Quadrado5, .inferiorDireito .Quadrado6, .inferiorDireito .Quadrado7{
        width: 32px;
        height: 22px;
    }

    .rodape{
        height: 189px;
        width: 100%;
        position: var(--posicaoAbsoluta);
        top: 81%;
        font-size: 10px;
        justify-content: space-around;
        align-items: center;   
    }    

    .Logo{
        width: 100px;
        height: 50px;
    }

    .Libro{
        width: 300px;
        position: var(--posicao);
        left: 12%;
    }

    .qua, .qua2, .qua3, .qua4{
        width: 62px;
    }
   
    .imagem{
        width: 20px;
    }
    
    .Libro, .copyright, .todos{
        display: block;
    }

}


@media(min-width: 1358px)
{

    .icone{
        position: var(--posicao);
        left: 0%;
        width: 50px;
    }

    .conteiner6{
        position: var(--posicaoAbsoluta);
        left: 94.8%; bottom: 20%;
    }

    .inferiorDireito{
        position: var(--posicaoAbsoluta);
        left: 92%;

    }

}



