header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(0,49,98);

}

.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100vW;
    height: 100vh;
    border-radius: 10px;
}

*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box; /* Ela altera o comportamento do box-model, fazendo com que o navegador calcule a largura/altura do elemento contando não apenas o seu conteúdo (como visto no content-box )*/
    

}

#Icone{
    width: 25%;
}

.esquerda{
    display: flex;
    flex-direction: row;
    width: 25%;
   

}

.esquerda h1 {
    align-content: center;
    color: aliceblue;
}

.direita h1{
    color: aliceblue;
}

.menu_direita{
    width: 10%;
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
    
}

