:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --cinza: #D9D9D9;
   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-family: var(--fontes);
   
}

.conteiner .menuAdm{
    display: flex;
    align-items: center;
}

.menuAdm .hamburguer{
    width: 100px;
    height: 50px;
    cursor: var(--apontador);
}


body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

.titulo{
  color: var(--branco);
  font-size: 10px;
   
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner3{
    display: flex;
    justify-content: space-between;
   
}

/*Corpo central*/ /*Corpo central*/ /*Corpo central*/

.relatorio{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 70px;
}

.quadradoCinza{
    height: 500px;
    background-color: var(--branco);
}

.quadradoBranco{
    margin-left: 15%;
}

.quadradoBranco .input{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.quadradoCinza #calendario{
    margin-top: 10%;
    width: 400px;
}

.quadradoCinza .Calendario{
    display: flex;
}

.quadradoCinza .imagemCalendario{
    padding-top: 10%;
    height: 66px;
}

.quadradoCinza .unidade{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 42px;
    position: var(--posicaoAbsoluta);
    left: 61%;
}

/*A classe .quadradoCinza .botoes define as configurações
da div que contêm os botões "cancelar" e "emitir" */

.quadradoCinza .botoes{
    display:flex;
    justify-content: space-between;
    padding-right: 15%;
    padding-left: 9%;
    margin-top:19%;
}

/*A classe .quadradoCinza .cancelar, .emitir define as 
configurações dos botões "cancelar" e "emitir" */

.quadradoCinza .cancelar, .emitir{
    width: 116px;
    background-color: var(--corBotao);
    color: var(--branco);
    cursor: var(--apontador);
    border-radius: 5px;
}

/*Parte inferior do corpo*/

.inferior{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

.inferior img{
    width: 100px;
    height: 100px;
}

/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.rodape{
    background-color: var(--azulCabecalho);
    height: 159px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 10px;
    text-align: center;
   
}

.rodape .Logo{
    height: 50px;
    width: 100px;
}

.rodape .Libro{
    height: 100px;
    width: 200px;
}

/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 500px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    
}

/*.menu a estará disponível para ser usado mais tarde para controlar as ligações entre telas. Será descomentado em tempo
oportuno. */

/* .menu a{
    text-decoration: none;
    color: var(--branco);
    display: flex;
} */

/*Um pouco de responsividade*/ /*Um pouco de responsividade*/ /*Um pouco de responsividade*/

@media(min-width: 375px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .quadradoBranco .input{
        flex-direction: column;
    }

    .quadradoBranco .unidade{
        position: var(--posicaoAbsoluta);
        left: 70%; bottom: 20%;
    }

    .logoSenacHub{
        display: none;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/ 

    /*Essa parte controla os comprimentos
    e alturas dos ícones azuis superiores*/
    .conteiner3 .esquerdo, .direito{
        width: 100px;
        height: 100px;
    }
   
    .quadradoCinza #calendario{
        width: 280px;
    }

    /*Fim da página*/ /*Fim da página*/ /*Fim da página*/ /*Fim da página*/

    .rodape .faleConosco, .siga-nos, .emailAtendimento{
        display: none;     
    }     

    .menu{
        position: var(--posicaoAbsoluta);
        top: 12%;
    }

} 

@media(min-width:414px){

 .quadradoBranco .unidade{
    position: var(--posicaoAbsoluta);
    left: 70%; bottom: 40%;
 }  

 .menu{
    position: var(--posicaoAbsoluta);
    top: 9%;
 }

}

@media(min-width:768px){

 /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/           
    .titulo{
        font-size: 12px;
    }

    .conteiner .logoSenacHub{
        display: block;
    }
 
 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

 .quadradoCinza{
    width: 60%;
    margin-left: 13%;
    border: solid 1px;
 }

 .quadradoCinza .input{
    flex-direction: row;
 }

 .quadradoCinza .unidade{
    position: var(--posicaoAbsoluta);
    left: 60%; bottom: 45%;
 }

 /*Rodapé*/ /*Rodapé*/ /*Rodapé*/ /*Rodapé*/  
    .rodape{
        font-size: 14px;
    }

    .rodape .faleConosco{
        display: block;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 8%;
    }
}

@media(min-width: 1024px){

    .conteiner .menuAdm{
        width: 304px;
    }

    .quadradoCinza .unidade{
        position: var(--posicaoAbsoluta);
        left: 57%; bottom: 13%;
    }

    .rodape .Logo{
        width: 180px;
        height: 70px;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 13%;
    }

}

@media(min-width: 1280px){

    .quadradoCinza .unidade{
        position: var(--posicaoAbsoluta);
        left: 60.5%; bottom: 33%;
    }
    
    .rodape .siga-nos{
        display: block;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 10%;
    }

    .titulo{
        position: var(--posicao);
        right: 10%;
    }

}

@media(min-width:1358px){

.conteiner3 .esquerdo, .direito{
    width: 150px;
    height: 150px;
}

.quadradoCinza .unidade{
        position: var(--posicaoAbsoluta);
        left: 61%; bottom: 10%;
    }

.inferior img{
    width: 150px;
    height: 150px;
}

.rodape .emailAtendimento{
    display: block;
}

.menu{
    position: var(--posicaoAbsoluta);
    top: 13%;
}

}

@media(min-width: 1912px){

    .conteiner{
        height: 140px;
        align-items: center;
    }

    .conteiner .titulo{
        font-size: 20px;
    }

    .quadradoCinza{
        width: 992px;
        height: 900px;
        margin-left: 25%;
    }
    
    .quadradoBranco{
       margin-left: 0%;
    }

    .sobre, .salvar, h4{
        font-size:30px;
    }

    .nome, .opcoes{
        height: 30px;
        font-size: 20px;
    }

    .imagemCalendario{
        width: 40px;
        height: 50px;
    }

    .Calendario .imagemCalendario{
        padding-top:18%;
    }
    
    .Calendario .calendar, .Calendario .calendar2{
        width: 200px;
        height:50px;
        font-size:22px;
    }

    .Calendario{
        height: 400px;
    }

    .quadradoCinza .unidade{
        grid-template-rows: 100px;
        grid-template-columns: 170px;
        position: var(--posicaoAbsoluta);
        left: 59.5%; bottom: 12%;
    }

    .quadradoCinza .ordem{
        height: 30px;
        font-size: 20px;
    }

    .botoes .emitir, .botoes .cancelar{
        width: 205px;
        height: 40px;
        font-size:20px;
    }

   .rodape{
        height: 300px;
   }

   .rodape .Libro{
        width: 400px;
        height: 200px;
   }

   .rodape .Logo{
        width: 247px;
   }
   
   .rodape .faleConosco, .copyright, .todos{
        font-size: 20px;
   }

   .menu{
        position: var(--posicaoAbsoluta);
        top: 13%;
    }

}
