:root {

    --fontes: 'Poppins', 'Roboto', 'Montaga';   
}


body{
    padding-top: 100px;
    font-family: var(--fontes);
}

/* Estilo do cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #001E3E;
    color: white;
    position: fixed;  /* Fixa o cabeçalho no topo */
    top: 0;           /* Fixa no topo da página */
    left: 0;          /* Garante que vai colar à esquerda */
    width: 100%;   
    height: 80px;   /* O cabeçalho vai ter a largura total da tela */
    z-index: 1000;
    border-bottom: #769FCD 5px solid;    /* Garante que o cabeçalho fique sobre outros elementos */
}

/* Ícone do menu */
.menu-icon {
    cursor: pointer;
    margin-right: 20px; /* Ajuste o valor para aumentar o espaço entre o ícone e o logo Senac */
}

/* Logo Senac */

/* Navbar oculta por padrão */
nav {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: #001E3E;
    padding: 10px;
    border-radius: 5px;
}

/* Lista de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Exibir menu quando ativado */
nav.show {
    display: block;
}

/* Centraliza o título no cabeçalho */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;  /* Faz com que a div "titulo" ocupe o máximo de espaço disponível */
    margin: 0 auto;  /* Garante a centralização do título */
}

.titulo h2 {
    margin: 0;
    padding: 0;
}

.titulo h2:first-child {
    margin-bottom: 20px;  /* Ajuste o valor conforme necessário para aumentar a distância */
}

.iconepessoa{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fdfdfd; /* Cor do texto, ajuste conforme necessário */
    margin-top: 5px; /* Espaçamento entre a imagem e o texto */
    margin-right: 40px;
}

.iconepessoa p {
    margin: 5px 0 0; /* Espaço entre a imagem e o texto */
    font-weight: bold;
}

/* RESPONSIVIDADE */

@media (max-width: 1024px) {
    
    .header{
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
    .titulo{
        display: none;
    }
   
}