:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --fonte_normal: 20px;
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --apontador: pointer;   
}

body{
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

*{
    font-family: var(--fontes);
}

.containerConteudo{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

/* QUADRADO BRANCO 1 */
    .containerInfo{
        width: 100%;
        background-color: white;
        border-radius: 2px;
        display: flex;
        padding: 40px;
        flex-direction: row;
        box-shadow: 0 2px 4px gray;
    }
    .livroInfo img{
        height: 50px;
    }
    .review{
        display: flex;
    }
    .review p{
        margin-left: 18px;
    }


    .info_1{
        display: flex;
        flex-direction: row;

    }
    .livroTitulo{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .livroTitulo h1{
        font-size: 45px;
        margin-bottom: 0px;
    }
    #livroIsbn{
        font-size: small;
        color: rgb(100, 100, 100);
        margin-bottom: -30px;
    }
    #livroDescricao{
        margin-bottom: 0px;
    }

    .livroReservar{
        
        gap: 10px;
    }

    /* botao de reserva */
    .livroReservar p{
        margin-bottom: 5px;
        color: #258A14;
    }
    .botaoReserva{
        background-color: #004A90;
        color: white;
        border: 0;
        border-radius: 5px;
        margin: auto;
        width: 330px;
        height: 60px;
        font-weight: bold;
        font-size: large;
        box-shadow: 0 2px 2px gray;
    }
    .lerMais img{
        height: 30px;
    }
    .lerMais{
        display: flex;
        gap: 12px;
    }
    .lerMais p{
        color: #3A5BB0;
        text-align: center ;
        margin: 0px
    }

    .info_2{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 0 70px 0 30px;
    }
    .info_2 img{
        width: 56px;
    }
    .tags{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .autor, .paginas, .publicacao{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .tags a, .autor a, .paginas a, .publicacao a{
        margin: 30px 0 0 0;
    }
    .tags2{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .tag_icone{
        background-color: #F2F1F9;
        border: 2px solid #5691EA;
        border-radius: 65px ;
        width: 100px;
        height: 40px;
        padding: 3px;
        align-content: center;
    }
    .tag_icone p{
        text-align: center;
        margin: auto;
    }

    .livroInfo{
        margin: 0 0px 0 30px;
        width: 100%;
    }




/* EXEMPLARES */
    .containerExemplar{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: auto;
        margin-top: 40px;

    }
    .containerExemplar p{
        font-size: large;
    }

/* COMENTARIOS */
.containerComentarios{
    background-color: white;
    margin: auto;
    padding: 15px;
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;

}
.containerComentarios input{
    background-color: #F1EEEE;
    border: 0;
    width: 98%;
    height: 30px;
    margin: auto;
    padding-left: 15px;
    border-radius: 2px;
}

.comment_1{
    display: flex;
    justify-content: space-between;
}
.comment_1 img{
    width: 40px;
    height: 40px;

}
a{
    text-decoration: none
}

.comment_2{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
#comment_2id{
    margin-top: 20px;
}
.commentName{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.commentName h3{
    margin: 0;
}
#commentUserinfo{
    color: gray;
    margin-top: 2px;
}