.menu-lateral {
    position: fixed;
    top: 0;
    left: -340px; /* começa fora da tela */
    width: 300px;
    height: 100vh; /* ocupa 100% da tela */
    background: var(--azul-tela-inicial);
    box-shadow: 2px 0 8px rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    padding: 5% 0px 0px 1%;
    z-index: 3000;  
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 2500;
    display:none;
    opacity: 0;
}

.overlay.ativo {
    display: block; 
    opacity: 1;
}



.cabecalho nav {
    font-family: "Poppins",sans-serif;
}


.menu-lateral {
    position: fixed;
    top: 0;
    left: -340px; /* começa fora da tela */
    width: 300px;
    height: 100vh; /* ocupa 100% da tela */
    background: var(--azul-tela-inicial);
    box-shadow: 2px 0 8px rgba(0,0,0,0.3);
    transition: left 0.3s ease;
    padding: 5% 0px 0px 1%;
    z-index: 3000;  
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



.menu-lateral.ativo {
    left: 0;
}

#menu-lateral ul {
    list-style: none;
    padding: 0;
}

#menu-lateral ul li a {
    color: white;
    text-decoration: none;
}

#menu-lateral.active {
    display: block;
}



.menu-sanduiche .navbar-desktop {
    display: flex;
    flex-direction: column; /* itens empilhados */
    align-items: flex-start; /* alinha todos à esquerda */
    gap: 10px; /* distância entre os itens, opcional */
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Poppins",sans-serif;
}

.menu-sanduiche .navbar-desktop li {
    display: flex; /* para alinhar a imagem + link na mesma linha */
    align-items: center; /* centraliza verticalmente imagem + texto */
    gap: 10px; /* espaço entre imagem e texto */
}

.menu-sanduiche .navbar-desktop li a {
    text-align: left;
}

.navbar-desktop li a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding:  10px 10px 8px 20px;;
    color: var(--cor-texto);
    /* text-transform: uppercase; */
    transition: color 0.3s ease;
  }
  
.navbar-desktop li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--laranja-padrao);
    transition: width 0.3s ease;
}

.navbar-desktop li a:hover {
color: var(--laranja-padrao);
}

.navbar-desktop li a:hover::after {
width: 100%;
}

.menu-li {
    display: flex;
    justify-content: center;
    align-items: center;
}
