:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --bordaBaixaCabeçalho: #769FCD;
   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: var(--fontes);
    border-bottom: 5px solid var(--bordaBaixaCabeçalho);
}

body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

.conteiner .menuAdm{
    display: flex;
    align-items: center;
}

.menuAdm{
    gap: 20px;
}

.menuAdm .hamburguer{
    width: 100px;
    height: 50px;
    cursor: var(--apontador);
}

.titulo{
  color: var(--branco);
  font-size: 10px;  
}

.titulo .senac{
    position: var(--posicao);
    right: 20%;
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

/*Conteiner3 contém os ícones superiores e os define com
espaços um colado no início e outro no fim. Conteiner3 .esquerdo, .direito
definem o comprimento e a altura dos ícones em 100 pixels.*/

.conteiner3{
    display: flex;
    justify-content: space-between;
 }
 
 .conteiner3 .esquerdo, .direito{
     width: 100px;
     height: 100px;
 }

.formulario{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--corFormulario);
    padding: 15px;
    margin-top: 25px;
    gap: 15px;
}

.formulario .tituloObrigatorio, .autorObrigatorio, .codigoObrigatorio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.obrigatorio{
    color: var(--vermelho);
    font-family: var(--fontes);
    font-size: 15px;   
}


/*Ícone inferior*/ /*Ícone inferior*/ /*Ícone inferior*/
.inferiorDireito{
    display: flex;
    justify-content: end;
    margin-top:5%;
}

.inferiorDireito .inferior{
    width: 100px;
    height: 100px;
}

.formulario .area, .unidade, .tipoDocumento, .categoria, .area{
    cursor: var(--apontador);
}

.botao{
    background-color: var(--corBotao);
    border-radius: 20px;
    color: var(--branco);
    width: 154px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--fontes);
    font-size: 15px;
    cursor: var(--apontador);
}

label{
    font-family: var(--fontes);
}

/*Segundo formulário. Esse só aparece a partir de 1280 pixels. */

#formulario2{ 
    width: 50%;
    /* height: 1038px; */
    display: flex;
    flex-direction: column;
    background-color: var(--corFormulario);
    padding: 15px;
    margin-top: -8px;
    gap: 25px;
}

.tituloObrigatorio2, .autorObrigatorio2, .codigoObrigatorio2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

/*Segunda metade do formulário*/ /*Segunda metade do formulário*/

#formulario2_segundaMetade{
    height: 1026px;
    /* display: none; */
}

#formulario2_segundaMetade .tipoDocumento, .Tipo, .categoria, .Categoria{
    cursor: var(--apontador);
}

/*Define o posicionamento do botão e o faz aparecer a frente do segundo formulário.*/
.formulario2 .Botao{
    position: var(--posicaoAbsoluta);
    left: 130%; top: 80%;
    z-index: 1;
}

/* .paraAjustar{
    height: 2000px;
    width: 80%;
    margin-top: 2%;
    display: flex;
    align-items: center;
} */

/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.rodape{
    background-color: var(--azulCabecalho);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 10px;
    text-align: center;
   
}

/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 500px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    /* position: var(--posicaoAbsoluta);
    top: 12%; */
    
}

/*Um pouco de responsividade*/ /*Um pouco de responsividade*/ /*Um pouco de responsividade*/

@media(max-width: 1024px){
   
    #formulario2,  .formulario2_segundaMetade{
        display: none;
    }

    .rodape .faleConosco, .email,.siga-nos, .Libro, .titulo, .copyright, .todos{
        display: none;     
    } 

}

@media(min-width: 375px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .logoSenacHub{
        display: none;
    }

    /*Fim da página*/ /*Fim da página*/ /*Fim da página*/ /*Fim da página*/  

    .menu{
        position: var(--posicaoAbsoluta);
        top: 16%;
    }

} 

@media(min-width:768px){

    .titulo{
        font-size: 12px;
    }

    .conteiner .logoSenacHub{
        display: block;
    }

    .rodape{
        font-size: 14px;
    }

    .rodape .faleConosco{
        display: block;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 14%;
    }

}

@media(min-width:1024px){
    .menu{
    position: var(--posicaoAbsoluta);
    top: 18%;
 }
}

@media(min-width: 1280px){

    .formulario{
        display: none;
    }

    #formulario2{
        display: flex;
        width: 410.5px;
        position: var(--posicao);
        left: 20%; top: 8px; 
        border-right: 1px solid white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

    .formulario2_segundaMetade{
        display: flex;
        flex-direction: column;
        width: 410.5px;
        height: 983px;
        position: var(--posicaoAbsoluta);
        top: 23%; left: 54.5%;
        background-color: var(--corFormulario);
        gap: 15px;
        padding: 10px;
        font-size: 18px;
        border-left: 4px solid white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

    #formulario2_segundaMetade .Botao{
        justify-content: center;
        display: flex;
        align-items: center; 
        height: 400px;
       
    }
}

@media(min-width:1358px){

 .formulario2_segundaMetade{
    position: var(--posicaoAbsoluta);
    top: 28.3%; left: 53%;
 }

 #formulario2{
    border-right: 4px solid white;
 }

 .menu{
    position: var(--posicaoAbsoluta);
    top: 13%;
 }

}

@media(min-width: 1912px){

    /* .paraAjustar{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .conteiner3 .esquerdo, .direito{
        width: 150px;
        height: 150px;
    }

    .inferiorDireito .inferior{
        width: 150px;
        height: 150px;
    }

    #formulario2{
        position: var(--posicao);
        top: 40%; left: 29.5%;
        border-right: 6px solid white;
    }

    #formulario2_segundaMetade{
        position: var(--posicaoAbsoluta);
        top: 23.5%; left: 52.8%;
        border-left: 3px solid white;
    }

    .rodape .faleConosco, .copyright, .todos, .email, .siga-nos {
        font-size:18px;
    }

}
