*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-color: #003162;
}

form {
    width: 50%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;


    border-radius: 10px;
    border: solid 3px white;
    background-color: #003162;
}

form img {
    width: 200px;
    height: auto;
}



.login{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 3px white;
}

label{
    font-size: 20px;
    color: white;
    width: 80%;
    position: relative;
}


.tela_animacao{ 
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003162;
}

img{
    width: 100%;
}

input{
    border: none;
    border-radius: 5px;
    padding: 3%;
    width: 80%;
    outline: none;
    background-color: #EEEEEE;
    margin: -19px;

}

input::placeholder {
    color: #383838;
    font-size: 14px;
    opacity: 0.7;
}

input:focus {
    border: 3px solid #F68B1F;
}

#campo_login {
    margin-bottom: 10px;
}


#campo_senha     {
    margin-bottom: 10px;
}

button{
    width: 80%;
    padding: 3%;
    border: none;
    border-radius: 5px;
    background-color: #F68B1F;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button:hover{

    transition: all .2s ease-in-out;
    background-color: #da7a1a;
}

a{
    display: flex;
    justify-content: end    ;
    width: auto;
    color: white;
    text-decoration: none;
}

.logo{
    width: 15%;
    height: 15%;
    position: absolute;
    top: 0;
    right: 40%;
}
.logo2{
    width: 15%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: -10%;
    transform: scale(-1);
}

.decor-top-right, .decor-bottom-left {
    display: flex;
    flex-wrap: wrap;
    width: 60px;
    gap: 5px;
    position: absolute;
}
  
.decor-top-right {
    top: 20px;
    right: 20px;
}
  
  .decor-bottom-left {
    bottom: 20px;
    left: 20px;
}
  
.square {
    width: 18px;
    height: 18px;
    /* background-color: rgba(0, 51, 102, 0.3); azul com transparência */
    background-color: white;
}

.check-entrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1%;
}

.checkbox-container  {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    white-space: nowrap;
}

.login-campos {
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.checkbox-container input {
    accent-color: #F68B1F;
}

.checkbox-container label {
    cursor: pointer;
}

.checkbox-container label:hover {
    color: #F68B1F;
}

.link-recuperar-senha:hover {
    color: #F68B1F;
}
  

@media screen and (max-width: 900px) {
    .container{
        flex-direction: column;
    }
    
    form{
        width: 90%;
    }

    .tela_animacao{
        display: none;
    }

    .logo{
        width: 30%;
        right: -18%;
    }

    .logo2{
        width: 30%;
        left: -18%;
    }


}