/* GERAL */
 
* {
    margin: 0;
    padding: 0;
 
}
 
:root {
    --azul-padrao: #003162;
    --cor-texto: #FFFFFF;
}
 
.conteiner{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
 
body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
 
/*PARTE DE CIMA */
/* CABEÇALHO */
 
/* .cabecalho{
    display: flex;
    background-color: var(--azul-padrao);
    border-bottom: 1px solid white;
    width: 100%;
    height: 80px;
} */

.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding: 10px 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

.onda-inferior {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.onda-inferior svg {
    display: block;
    width: 100%;
    height: 80px; /* ajuste conforme o visual desejado */
}
 
/* .cbleft{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
} */

.cbleft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cbmenu-icon {
    display: none;
}

.cbmenu-icon i {
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.cbmenu-icon i:hover {
    color: #F68B1F;
}

.cbquite nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.cbquite nav ul li {
    color: white;
    cursor: pointer;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.navbar li a{
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding: 10px;
    color: white;
    /* text-transform: uppercase; */
    transition: color 0.3s ease;
  }
  
  .navbar li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F68B1F;
    transition: width 0.3s ease;
  }
  
  .navbar li a:hover {
    color: #F68B1F;
  }
  
  .navbar li a:hover::after {
    width: 100%;
  }

.cbquite {
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbquite ul {
    list-style: none;
    display: flex;
    gap: 10%;
    
}

.entrar-mobile {
    display: none; 
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}
 
.cbright{
    /* width: 10%; */
    height: auto;
    /* padding: 20px 40px; */
    display: flex;
    justify-content: end;
}

/* button {
    width: 25%;
    height: 120%;
    border: solid white;
    background-color: #002043;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

} */


.button-entrar {
    padding: 8px 12px; /* padding mais contido */
    height: auto;
    margin-right: 2%;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #F68B1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: clamp(0.75rem, 2vw, 1rem);
    white-space: nowrap; /* impede quebra de linha */
    transition: background-color 0.3s ease;
}

.button-entrar:hover{
    background-color: white;
    color: #002043;
    transition: 0.1s;
}

.button-entrar:hover svg path {
    fill: #002043;
}
    
.button-entrar svg path {
    transition: fill 0.1s;
}

.button-entrar span {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.icone-perfil {
    width: 30px;
    height: 30px;    
}
 
.icsenac{
    margin-left: 20px;
    width: 50px;
    height: auto;
}
 
.icperfil{
    cursor: pointer;
    height: 100px;
    margin-top: 16px;
    margin-right: 50px;
    filter: brightness(80%);
    width: 74px;
    height: 70px;
}
 
 
/* PARTE "PRINCIPAL" */
 
.topPage{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    align-items: center;
    width: 100%;
    background-color: white;
}
 
.geralinfo{
    /* display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 600px;
    background-color: var(--azul-padrao)*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}


.info {
    background-color: #003162;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:  0 12px 0 #71B0EF,        
    6px 12px 2px #71B0EF,
    -6px 12px 2px #71B0EF;  
    border-bottom-left-radius: 70% 40%;
    border-bottom-right-radius: 70% 40%;
    overflow: hidden;
    padding-bottom: 5%;
}
 
.senacFoto {
    z-index: 2;
    display: block;
    max-width: 450px;
    width: 100%;   
    margin-left: 1%;      
    margin-right: 0;
    margin-top: 2%;
    object-fit: contain;
    height: auto;
}
 
.letreiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    max-width: 660px;
    width: 100%;
    /* margin-left: 1%; */
    height: 200px;
    padding: 15px 20px 20px 20px;
    /* padding-right: 5% */
}
 
.letras{
    max-width: 700px;
    /* margin: 0;
    margin-left: 30px; */
    font-size: clamp(28px, 6vw, 60px);
    font-family: "roboto";
    color: white;
    white-space: nowrap;
    border-right: 10px solid white;
    width: 20.2ch;  
    overflow: hidden;   
    animation: marca 2.2s step-end forwards , write 1s steps(18, end);
}
 
.letras2{
    max-width: 700px;
    /* margin: 0;
    margin-left: 30px; */
    font-size: clamp(28px, 6vw, 60px);
    font-family: "roboto";
    font-weight: bold;
    color: #F68B1F;
    white-space: nowrap;
    border-right: 10px solid white;
    width: 20.2ch;
    overflow: hidden;
    opacity: 0;
    animation: aparecer 0s 3.2s forwards, marca 2.2s step-end forwards, write 1s steps(18, end);
    animation-delay: 1s;
   
}
 
.frase{
    width: 100%;
    text-align: center;
    align-self: center;
    color: white;
    font-family:  'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
    /* font-size: clamp(10px, 2vw, 20px); */
    font-size: 5%;
    opacity: 0;
    animation: aparecer 3s ease-in-out 1s forwards ;
}
 
.partecima{
    z-index: 1;
    position: absolute;
    background-color: var(--azul-padrao);
    height: 30vw;
    width: 100vw;
}
 
.partebaixo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: transparent;
    position: absolute;
}
 
.bolha{
    z-index: 0;
    height: 40vw;
   
}
 
 
.barrapesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    transform: translateY(-40px); /* ajuste esse valor como quiser */
    position: relative; 
}
 
/* .pesquisa{
    border-style: hidden;
    box-shadow: 2px 2px 6px rgb(138, 137, 137);
    background-color: white;
    outline: 0;
    font-size: 40px;
    margin: 0;
    height: 50px;
    width: 1068px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 0px 5px 10px;  
    border: solid white;
} */

.pesquisa {
    flex: 1;
    padding: 18px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    min-width: 0;
    border-right: 0;
    outline: 0;
    box-shadow: 2px 2px 6px rgb(138, 137, 137);    
}

.pesquisa:focus {
    border: solid #003162 ;
}
 
/* .botaops{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
    border: transparent;
    background-color: #F68B1F;
    color: white;
    margin: 0;
    width: 96px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 3px 3px rgb(138, 137, 137);
    height: 76px;
    padding: 12px;
   
} */

.botaops {
    background-color: #F68B1F;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.botaops img {
    width: 25px;
    height: auto;
}
 
/* GENEROS */
 
.gen{
    display: flex;
    justify-content: center;
    gap: 6%;
    height: 300px;
    width: 100%;
    margin-top: 3%;
    padding-bottom: 10%;
}
 
.gentitle{
    font-size: 50px;
    color: grey;
    text-align: center;
   
}
 
.gencard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    gap: 10%;
}

.genicon1 {
    width: 130px;
    height: auto;
}

.genicon2 {
    width: 100px;
    height: auto;
}

.genicon3 {
    width: 90px;
    height: auto;
}

.genicon4 {
    width: 100px;
    height: auto;
}

.genicon5 {
    width: 90px;
    height: auto;
}

.icon_livros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003162;
    width: 162px;
    height: 162px;
    border-radius: 50%;
}
.icon_livros:hover {
    background-color: #F68B1F;
}
 
 
.sup{
    z-index: 2;
    position: absolute;
    border: 10px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 457px;
    height: 125px;
    justify-self: center;
    margin-left: 40%;
    top: 157%;
    background-color: var(--azul-padrao);
    font-size: 80px;
}

.generos-livros {
    margin-top: 3%;
}
 
.title{
    font-family: "Roboto";
    font-size: 40px;
    color: white;
}

.estante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/bolhas-estante.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 200px;
    position: relative;
    background-color: var(--azul-padrao);
    width: 100%;
    height: 1600px;
}
 /*  
.livros {
    position: absolute;
    flex-wrap: nowrap;
    left: 4%;
    right: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
}
 
.tresPrimeiros{
    position: relative;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    width: 1000px;
    gap: 30px;
}

.quatroUltimos{
    position: relative;
    top: 60px;
    display: flex;
    width: 1000px;
    gap: 30px;
    justify-content: center;
} */

/* .livros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primeiraFileira {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.segundaFileira {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
 
.estanteimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100vw;
    height: 54vw;
} */

.estante {
    position: relative;
    width: 100%;     
    max-width: 3000px;
    margin: 0 auto;
  }
  
.estanteimg {
    width: 100%;
    height: auto;
    display: block;
}

.estanteimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100vw;
    height: auto;
    display: block;
}

.livros {
    position: absolute;
    top: 15%;   
    left: 5%;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.primeiraFileira {
    margin-top: 8%;
    gap: 15%;
}

.segundaFileira {
    margin-left: 10%;
    max-width: 2000px;
    gap: 5%;
    padding-bottom: 30px;
}

.primeiraFileira, .segundaFileira {
    display: flex;
    justify-content: center;
    align-items: center;
}


.livroEstante {
    width: 120px; /* define o tamanho do card */
} 

.livroEstante1 .card-livro {
    width: 250px;
    height: 350px;
}

.perfil-logado {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    font-size: 10px;
    
}
 
.perfil-logado span {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--cor-texto);
}


.nome-usuario {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    animation:
        aparecerUsuario 0s 1.5s forwards,
        escreverUsuario steps(var(--char-count), end) 2s 1.5s forwards,
        esconderCursor 0s 3.6s forwards;
}

/* Faz aparecer com opacidade */
@keyframes aparecerUsuario {
    to {
        opacity: 1;
    }
}

/* Escreve letra por letra */
@keyframes escreverUsuario {
    from {
        width: 0;
    }
    to {
        width: var(--char-ch);
    }
}
@keyframes esconderCursor {
    to {
        border-right: none;
    }
}


/*IMPORTAÇÕES*/

@font-face {
    font-family: "Roboto";
    src: url("font/roboto/Roboto-Bold.ttf") format("truetype");
}
 
@font-face {
    font-family: "Poppins";
    src: url("font/poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}
 
@keyframes marca{
    50%{
        border-right-color:transparent;
    }
    100%{
        border-right-color: transparent;
    }
}
 
 
@keyframes write{
    0%{
        width:0;
    }
}
 
@keyframes aparecer{
    to{
        opacity: 1;
    }
}

/* testes */


@media (max-width: 768px) {
    .icsenac {
        margin-left: 20px
    }
    
    .cbquite {
        display: none;
        width: 100%;
    }

    .cbquite.active {
        display: block;
    }

    .cbquite nav ul {
        flex-direction: column;
        background-color: #003366;
        padding: 10px;
    }

    .cbquite .navbar li a:active {
        background-color: #f1f3f4;
    }

    #botao-entrar {
        display: none;
    }

    .cbmenu-icon {
        display: block;
    }

    .cabecalho {
        justify-content: space-between;
    }

     #botao-entrar {
        display: none;
    }

    .entrar-mobile {
        display: block; 
    }

    .letreiro {
        height: 150px;
        padding-bottom: 1%;
        /* padding-left: 5%; */
    }

    .info {
        border-bottom-left-radius: 180% 40%;
        border-bottom-right-radius: 180% 40%;
    }

    .fachada-hub-mobile {
        width: 100%;
        height: 100%;
    }

    .senacFoto {
        width: 80%;
        max-width: none; 
    }

}

.geralinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* .senacFoto {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
} */
/* 
.letreiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
} */

/* ========== Responsivo progressivo ========== */

/* s
@media (max-width: 800px) {
    .geralinfo {
        text-align: center;
    }

    .senacFoto {
        background-image: url(../../assets/img/fachada-hub-academy.jpg);
    }

    .letras {
        font-size: 42px;
    }

    .letras2 {
        font-size: 40px;
    }

    .frase {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .letras {
        font-size: 28px;
    }

    .letras2 {
        font-size: 28px;
    }

    .frase {
        font-size: 12px;
        padding-bottom: 5%;
        margin-top: 0;
    }
}




 