/* GERAL */
 
* {
    margin: 0;
    padding: 0;
 
}
 
:root {
    --azul-padrao: #002043;
    --cor-texto: #FFFFFF;
}
 
.conteiner{
    height: 100%;
    width: 100%;
}
 
body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
 
/*PARTE DE CIMA */
/* CABEÇALHO */
 
.cabecalho{
    display: flex;
    background-color: var(--azul-padrao);
    border-bottom: 1px solid white;
    height: 100px;
}
 
.cbleft{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    height: 100%;
}
 
.cbright{
    width: 50%;
    height: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: end;
    

}

/* button {
    width: 25%;
    height: 120%;
    border: solid white;
    background-color: #002043;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

} */


.button-entrar {
    width: 20%;
    height: auto;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    background-color:#F68B1F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
    font-size: 15px;
    


}

.button-entrar:hover{
    background-color: white;
    color: #002043;
    border: solid white;
    
}


.button-entrar:hover svg path {
    fill: #002043;
}
    

.button-entrar svg path {
    transition: fill 0.3s;
}

.button-entrar span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.icone-perfil {
    width: 40px;
    height: 30px;
    padding-bottom: 2%;
    
}
 
.icsenac{
    margin-left: 50px;
    width: 70px;
}
 
.icperfil{
    cursor: pointer;
    height: 100px;
    margin-top: 16px;
    margin-right: 50px;
    filter: brightness(80%);
    width: 74px;
    height: 70px;
}
 
 
/* PARTE "PRINCIPAL" */
 
.topPage{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    align-items: center;
    height: 800px;
    width: 100%;
    background-color: white;
}
 
.geralinfo{
    display: flex;
    width: 100%;
    height:600px;
    background-color: var(--azul-padrao);
}
 
.senacFoto{
    z-index: 2;
    margin-left: 150px;
    margin-top: 30px;
    width: 544px;
    height: 544px;
}
 
.letreiro{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 3;
    height: 350px;
    width: 100%;
}
 
.letras{
    margin: 0;
    margin-left: 30px;
    font-size: 90px;
    font-family: "roboto";
    color: white;
    border-right: 10px solid white;
    white-space: nowrap;
    width: 20.2ch;
    overflow: hidden;   
    animation: marca 2.2s step-end forwards , write 1s steps(18, end);
}
 
.letras2{
    margin: 0;
    margin-left: 30px;
    font-size: 100px;
    font-family: "roboto";
    color: white;
    border-right: 10px solid white;
    white-space: nowrap;
    width: 24.2ch;
    overflow: hidden;
    opacity: 0;
    animation: aparecer 0s 3.2s forwards, marca 2.2s step-end forwards, write 1s steps(18, end);
    animation-delay: 1s;
   
}
 
.frase{
    font-size: 32px;
    text-align: center;
    align-self: center;
    color: white;
    font-family: "Robotol";
    opacity: 0;
    animation: aparecer 3s ease-in-out 1s forwards ;
}
 
.partecima{
    z-index: 1;
    position: absolute;
    background-color: var(--azul-padrao);
    height: 30vw;
    width: 100vw;
}
 
.partebaixo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
    background-color: transparent;
    position: absolute;
}
 
.bolha{
    z-index: 0;
    height: 40vw;
   
}
 
 
.barrapesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    width: 100%;
    height: 200px;
}
 
.pesquisa{
    border-style: hidden;
    box-shadow: 2px 2px 6px rgb(138, 137, 137);
    background-color: white;
    outline: 0;
    font-size: 40px;
    margin: 0;
    height: 60px;
    width: 1068px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 0px 5px 10px;  
    border: solid white;
}

.pesquisa:focus {
    border: solid #003162 ;
}
 
.botaops{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor:pointer;
    border: transparent;
    background-color: #F68B1F;
    color: white;
    margin: 0;
    width: 96px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0px 3px 3px rgb(138, 137, 137);
    height: 76px;
    padding: 12px;
   
}
 
/* GENEROS */
 
.gen{
    display: flex;
    justify-content: center;
    gap: 150px;
    height: 300px;
    width: 100%;
}
 
.gentitle{
    font-size: 50px;
    color: grey;
    text-align: center;
   
}
 
.gencard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.genicon1 {
    width: 130px;
    height: auto;
}

.genicon2 {
    width: 100px;
    height: auto;
}

.genicon3 {
    width: 90px;
    height: auto;
}

.genicon4 {
    width: 100px;
    height: auto;
}

.genicon5 {
    width: 90px;
    height: auto;
}

.icon_livros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003162;
    width: 162px;
    height: 162px;
    border-radius: 50%;
}
.icon_livros:hover {
    background-color: #F68B1F;
}
 
 
.sup{
    z-index: 2;
    position: absolute;
    border:10px solid white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 457px;
    height: 125px;
    justify-self: center;
    margin-left: 40%;
    top: 1380px;
    background-color: var(--azul-padrao);
    font-size: 80px;
}
 
.title{
    font-family: "Roboto";
    font-size: 40px;
    color: white;
}
 
.estante{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/img/bolhas-estante.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 200px;
    position: relative;
    background-color: var(--azul-padrao);
    width: 100%;
    height: 1600px;
}
 
.livros {
    position: absolute;
    flex-wrap: nowrap;
    left: 4%;
    right: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
}
 
.tresPrimeiros{
    position: relative;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    width: 1000px;
    gap: 30px;
}

.quatroUltimos{
    position: relative;
    top: 60px;
    display: flex;
    width: 1000px;
    gap: 30px;
    justify-content: center;
}
 
.estanteimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100vw;
    height: 54vw;
}

.perfil-logado {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto);
    font-size: 10px;
    
}
 
.perfil-logado span {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--cor-texto);
}


.nome-usuario {
    display: inline-block;
    margin-left: 10px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: white;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    opacity: 0;
    animation:
        aparecerUsuario 0s 1.5s forwards,
        escreverUsuario steps(var(--char-count), end) 2s 1.5s forwards,
        esconderCursor 0s 3.6s forwards;
}

/* Faz aparecer com opacidade */
@keyframes aparecerUsuario {
    to {
        opacity: 1;
    }
}

/* Escreve letra por letra */
@keyframes escreverUsuario {
    from {
        width: 0;
    }
    to {
        width: var(--char-ch);
    }
}
@keyframes esconderCursor {
    to {
        border-right: none;
    }
}


/*IMPORTAÇÕES*/

@font-face {
    font-family: "Roboto";
    src: url(font/roboto/Roboto-Bold.ttf);
}
 
@font-face {
    font-family: "Robotol";
    src: url(font/roboto/Roboto-ThinItalic.ttf);
}
 
@keyframes marca{
    50%{
        border-right-color:transparent;
    }
    100%{
        border-right-color: transparent;
    }
}
 
 
@keyframes write{
    0%{
        width:0;
    }
}
 
@keyframes aparecer{
    to{
        opacity: 1;
    }
}
 