:root{

    --azulCabecalho: #001E3E;
    --fontes: 'Poppins', 'Roboto', 'Montaga';
    --branco: white;
    --fundoPadrao: #EDEDED;
    --posicao: relative;
    --posicaoAbsoluta: absolute;
    --corFormulario: #E5E4E4;
    --corBotao: #004A90;
    --vermelho: red;
    --apontador: pointer;
    --cinza: #D9D9D9;
   
}

/*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/ 

.conteiner{
    background-color: var(--azulCabecalho);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-family: var(--fontes);
   
}

body{
    margin: 0;
    background-color: var(--fundoPadrao);
}

.hamburguer{
    cursor: var(--apontador);
    background: none;
    border: none;
/* .hamburguer define as características do botão. cursor: pointer indica que um objeto é clicável ao mudar o cursor, 
background: none retira a cor do botão que contêm as quatro linhas horizontais e border: none retira a borda do botão.
Esses dois últimos fazem o botão desaparecer completamente.*/ 
}

.barra{
    width: 35px;
    height: 3px;
    margin-left: 10px;
    background-color: var(--branco);
   
}

.titulo{
  color: var(--branco);
  font-size: 10px;
   
}

/*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/ 

.conteiner3{
    display: flex;
    justify-content: space-between;
   
}

.quadradoCinza{
    height: 500px;
    background-color: var(--cinza);
    padding-top: 5%;
    padding-left: 15%;
    margin-top: 5%;
}

.quadradoCinza .nome, .nomeSocial, .matricula, .cpf, .senha, .email{
    width: 260px;
}

.quadradoCinza .input{
    padding: 3%;
}

.quadradoCinza .botao{
    background-color: var(--corBotao);
    color: var(--branco);
    border-radius: 5px;
    height: 30px;
    cursor: var(--apontador);
}

.quadradoCinza .div{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
}

.input img{
    height: 21px;
}

.opcional{
    display: flex;
    justify-content: end;
    padding-right: 7%;
    height: 11px;    
}

.opcional p{
    font-size: 13px;
    position: var(--posicao);
    bottom: 190%;
}

.quadradoCinza #nomeSocial1{
    padding-left: 10%;
}

.botao{
    background-color: var(--corBotao);
    border-radius: 20px;
    color: var(--branco);
    width: 154px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--fontes);
    font-size: 15px;
    cursor: var(--apontador);
}

/*Parte inferior do corpo*/

.inferior{
    display: flex;
    justify-content: end;
    margin-top: 5%;
}

.inferior img{
    width: 100px;
    height: 100px;
}

/*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/   /*Rodapé*/

.rodape{
    background-color: var(--azulCabecalho);
    height: 159px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 10px;
    text-align: center;
   
}

.rodape .Logo{
    height: 50px;
    width: 100px;
}

.rodape .Libro{
    height: 100px;
    width: 200px;
}

/*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/ /*Evento*/

.menu{
    width: 366px;
    height: 500px;
    background-color: var(--azulCabecalho);
    color: var(--branco);
    font-family: var(--fontes);
    font-size: 36px;
    display: none;
    cursor: pointer;
    
}

/*Um pouco de responsividade*/ /*Um pouco de responsividade*/ /*Um pouco de responsividade*/

@media(min-width: 375px){

    /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/  /*Cabeçalho*/

    .logo{
        display: none;
    }

    /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/  /*Corpo*/ 

    /*Essa parte controla os comprimentos
    e alturas dos ícones azuis superiores*/
    .conteiner3 .esquerdo, .direito{
        width: 100px;
        height: 100px;
    }
   
    /*Fim da página*/ /*Fim da página*/ /*Fim da página*/ /*Fim da página*/

    .rodape .faleConosco, .siga-nos, .emailAtendimento{
        display: none;     
    }     

    .menu{
        position: var(--posicaoAbsoluta);
        top: 12%;
    }

} 


@media(min-width:414px){

 .opcional{
    padding-right: 15%;
 }

 .menu{
    position: var(--posicaoAbsoluta);
    top: 9%;
 }

}

@media(min-width:768px){

 /*Cabeçalho*/ /*Cabeçalho*/ /*Cabeçalho*/           
    .titulo{
        font-size: 12px;
    }

    .conteiner .logo{
        display: block;
    }
 
 /*Corpo*/ /*Corpo*/ /*Corpo*/ /*Corpo*/

 .quadradoCinza{
    width: 60%;
    margin-left: 13%;
    border: solid 1px;
    /* background-color: blue; */
 }

 .quadradoCinza input{
    height: 30px;
 }

 /* .quadradoCinza #nomeSocial1{
    position: var(--posicao);
    right: 0%;
 } */

 .quadradoCinza img{
    height:30px;
 }

 .opcional p{
    padding-right: 22%;
 }

 .quadradoCinza .div{
    padding-right: 20%;
 }

 /*Rodapé*/ /*Rodapé*/ /*Rodapé*/ /*Rodapé*/  
 .rodape{
        font-size: 14px;
    }

    .rodape .faleConosco{
        display: block;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 8%;
    }
}

@media(min-width: 1280px){

    .conteiner4{
        position: var(--posicaoAbsoluta);
        top: 10.7%; left: 96.5%;
    }

    .formulario{
        display: none;
    }

    #formulario2{
        display: block;
        display: flex;
        width: 410.5px;
        position: var(--posicao);
        left: 20%; top: 8px; 
        border-right: 1px solid white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

     #formulario2 #obrigatorio1{
        position: var(--posicaoAbsoluta);
        left: 78%; top: 0%;
    }

    #formulario2 #obrigatorio2{
        position: var(--posicaoAbsoluta);
        left: 78%; top: 9.5%;
    }
    
    #formulario2 #obrigatorio3{
        position: var(--posicaoAbsoluta);
        left: 78%; top: 19%;
    }

    #formulario2 .Area{
        position: var(--posicaoAbsoluta);
        top:45%; left: 92.5%;
        width: 18px;
        height: 17px;
    }

    #formulario2 .Unidade{
        position: var(--posicaoAbsoluta);
        top:54.5%; left: 92.5%;
        width: 18px;
        height: 17px;
    }

    .formulario2_segundaMetade{
        display: block;
        display: flex;
        flex-direction: column;
        width: 410.5px;
        height: 983px;
        position: var(--posicaoAbsoluta);
        top: 23%; left: 54.5%;
        background-color: var(--corFormulario);
        gap: 15px;
        padding: 10px;
        font-size: 18px;
        border-left: 4px solid white;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }

    .formulario2_segundaMetade .Tipo{
        height: 17px;
        width: 15px;
        position: var(--posicaoAbsoluta);
        left: 94%; top: 44.6%;
    }
    
    .formulario2_segundaMetade .Categoria{
        height: 17px;
        width: 15px;
        position: var(--posicaoAbsoluta);
        left: 94%; top: 60.2%;
    }

    .rodape .email{
        display: block;
    }
    
    .rodape .siga-nos{
        display: block;
    }

    .rodape .Logo{
        width: 114px;
        height: 80px;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 10%;
    }

    #formulario2_segundaMetade .Botao{
        justify-content: center;
        display: flex;
        align-items: center; 
        height: 400px;
       
    }

    .logoSenacHub{
        position: var(--posicao);
        right: 115%;
    }

    .titulo{
        position: var(--posicao);
        right: 10%;
    }

    .conteiner5{
        position: var(--posicao);
        left: 0%;
    }

}

@media(min-width:1358px){

   .conteiner .barra{

    width: 50px;

 }

 .conteiner4{
    position: var(--posicaoAbsoluta);
    top: 13%; left: 96.7%;
 }

 .formulario2_segundaMetade{
    position: var(--posicaoAbsoluta);
    top: 28.3%; left: 53%;
 }

 .formulario2_segundaMetade .Tipo{
    width: 16px;
    height: 19px;
 }

 .formulario2_segundaMetade .Categoria{
    width: 16px;
    height: 19px;
 }

 #formulario2 #obrigatorio1{
    position: var(--posicaoAbsoluta);
    top: 0%;
 }
 
 #formulario2 #obrigatorio2{
    position: var(--posicaoAbsoluta);
    top: 10%;
 }

 #formulario2 #obrigatorio3{
    position: var(--posicaoAbsoluta);
    top: 19%;
 }


 #formulario2 .Area{
    position: var(--posicaoAbsoluta);
    top: 44.7%;
    height: 20px;
    width: 17px;
 }
 
 #formulario2 .Unidade{
    position: var(--posicaoAbsoluta);
    top: 54.3%;
    height: 20px;
    width: 17px;
 }

 #formulario2{
    border-right: 4px solid white;
 }

}

@media(min-width: 1912px){

    #formulario2{
        position: var(--posicao);
        top: 40%; left: 29.5%;
        border-right: 6px solid white;
    }

    #formulario2 #obrigatorio1{
        position: var(--posicaoAbsoluta);
        top: 0%;
    }
   
    #formulario2 #obrigatorio2{
        position: var(--posicaoAbsoluta);
        top: 9%;
    }
   
    #formulario2 #obrigatorio3{
        position: var(--posicaoAbsoluta);
        top: 19%;
    }

    #formulario2_segundaMetade{
        position: var(--posicaoAbsoluta);
        top: 18.5%; left: 52.8%;
        border-left: 3px solid white;
    }

    #formulario2 .Area{
        position: var(--posicaoAbsoluta);
        top: 45%;
        height: 18px;
        width: 18px;
    }
    
    #formulario2 .Unidade{
        position: var(--posicaoAbsoluta);
        top: 54.5%;
        height: 18px;
        width: 18px;
    }

    .conteiner4{
        position: var(--posicaoAbsoluta);
        top: 9%; left: 97.7%;
    }

    #formulario2_segundaMetade .Tipo{
        width: 16px;
    }
    
    #formulario2_segundaMetade .Categoria{
        width: 16px;
    }

    .menu{
        position: var(--posicaoAbsoluta);
        top: 9%;
    }

}





